  .country-block {
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    /* height: 500px; */
    /* height: 500px; */
    /* max-height: 500px; */
    /*display: none;*/
    padding: 20px;
    box-sizing: border-box;
  }
  .country-block svg {
    width: 100%;
    height: 100%;
    height: 600px;
    max-height: 100%;
    position: relative;
  }
  /* .top-block .container {
    position: relative;
  } */
  .active-location {
    position: absolute;
    display: inline-block;
    color: #000;
    /* padding-left: 20px; */
    top: 0;
    left: 0;
    z-index: 1;
    color: red;
    text-shadow: 0 0 5px #fff
  }
  .active-location-svg {
    width: 20px
  }
  .active-location-svg svg {
    width: 20px;
    height: 20px
  }
  .active-location-text {
    position: absolute;
    top: 0px;
    left: 20px;
    white-space: nowrap;
    background: #d0d0d0;
    padding: 0 2px
  }
  /* .active-location::before {
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background: red;
    display: block;
    position: absolute;
    top: 5px;
    left: 5px
  } */
  .top-block{
    margin-top: 30px;
    position: relative;
  }
  .block-location {
    display: none!important;
  }
@media only screen and (max-width: 1000px) {
  .country-block svg {
    max-height: 400px
  }
}
@media only screen and (max-width: 767px) {
  .country-block {
    padding: 0
  }
  .top-block .title {
    margin-bottom: 50px
  }
  .country-block svg {
    max-height: 300px
  }
}
