/*reset css*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
br {
	font-size: 0;
}
* {
	box-sizing: border-box;
}
a, a:focus, button, button:focus, input, input:focus {
	outline: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
}
::-moz-focus-inner, ::-moz-focus-outer {
	border: 0;
	padding: 0;
}
/*end reset css*/

/*my reset*/
img {
	max-width: 100%;
}
/*my reset*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #1c2123;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

.text-bold {
	font-weight: bold;
}

.text-main {
	color: #1c2123;
}

.under-dotted {
	position: relative;
	color: #000000;
}

.under-dotted::after {
	content: '';
	width: 100%;
	height: 1px;
	background: url(../img/dashed2.png) repeat-x;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: .5s;
}

.under-dotted:hover::after {
	width: 0%;
}

.main-color {
	color: #87ba54;
}

.container {
	width: 100%;
	max-width: 1190px;
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-size: 44px;
	font-weight: 900;
	text-align: center;
}

/*header*/

header {
	background: #f4f4f4 url(../img/header_bg.png) no-repeat 100px top;
	-webkit-background-size: cover;
	background-size: cover;
}

.header__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.header__left {
	padding-top: 50px;
}

.prod__name-svg {
	display: inline-block;
	/*max-height: 115px;*/
}

.header__name {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.header__name__text {
	display: inline-block;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-size: 24px;
	line-height: 30px;
	color: #1c2122;
}

.header__title {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
	margin-top: 23px;
	max-width: 475px;
	line-height: 36px;
}

.header__undertitle {
	margin-top: 28px;
    font-size: 28px;
    max-width: 475px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 0.1px;
}

.header__list {
	margin-top: 23px;
	max-width: 450px;
	letter-spacing: -0.2px;
}

.header__list__item {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 17px;
	padding-left: 25px;
	position: relative;
	color: #989898;
}

.header__list__item::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(45deg);
	width: 7px;
	height: 7px;
	background: #9ec768;
}

.header__expression__wrap {
	margin-top: 60px;
	max-width: 470px;
	position: relative;
	z-index: 1;
	margin-bottom: 115px;
}

.header__expression {
	font-size: 18px;
	line-height: 22px;
	padding-left: 23px;
	font-style: italic;
	letter-spacing: -0.3px;
}

.header__expression::before {
	content: '«';
	position: absolute;
	left: -2px;
	top: -2px;
	font-size: 28px;
	color: #9ec768;
}

.header__expression::after {
	content: '';
	background: #ffffff;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	left: 75px;
	width: 100%;
	height: 160%;
	z-index: -1;
}

.header__prod {
	position: absolute;
	left: 41%;
	bottom: -13%;
	z-index: 2;
}

.header__girl {
	position: absolute;
	bottom: -3px;
	left: 36.2%;
}

.header__right {
	padding-top: 150px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.header__line {
	height: 100%;
	width: 70px;
	background: #b5cc65;
	position: absolute;
	top: 0;
	/*bottom: 0;*/
	right: 100px;
	z-index: -1;
}

.header__form_wrap {
	position: relative;
}

/*.header__form_wrap::before {
	content: '';
	width: 160px;
	height: 160px;
	position: absolute;
	top: -128px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/logo.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 1;
}*/

.form__rhomb {
	width: 160px;
	height: 160px;
	position: absolute;
	top: -128px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/logo.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	z-index: 3;
}

.header__form {
	width: 270px;
	background: #ffffff;
	border-radius: 5px;
	position: relative;
	padding: 20px;
	/*-webkit-box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);
	-moz-box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);
	box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);*/
	z-index: 1;
}

.header__form::before {
	content: '';
	width: 119px;
	height: 49px;
	position: absolute;
	top: -49px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/form_before.png) no-repeat;
}

/*.header__form::after {
	content: '';
	width: 116px;
	height: 16px;
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/form_after.png) no-repeat;
}*/

.header__form::after {
	content: '';
	width: 116px;
	height: 66px;
	position: absolute;
	bottom: -14px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	z-index: -1;
}

.header__price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: space-around;
	margin-bottom: 25px;
	margin-top: 20px;
}

.price__old {
	color: #c2c0c0;
}

.price__new {
	color: #9ec768;
}

.price__name {
	font-size: 13px;
	color: #949494;
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
}

.price__name-new {
	color: #1c2022;
}

.price__value {
	font-size: 36px;
	position: relative;
}

.price__currency {
	font-size: 15px;
}

.price__value-old {
	position: relative;
}

.price__value-old::after {
	content: '';
	width: 100%;
	height: 1px;
	background: #312e64;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(165deg);
}

.price__value-old::before {
	content: '';
	width: 100%;
	height: 1px;
	background: #312e64;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(15deg);
}

.no__wrap {
	white-space: nowrap;
}

.header__input {
	width: 100%;
	max-width: 226px;
	height: 60px;
	border-radius: 60px;
	border: 1px solid #dfe2e3;
	padding: 0 25px 0 55px;
	font-size: 16px;
	color: #949494;
	margin: 0 auto 16px;
	position: relative;
	display: block;
}

.header__input-name {
	content: '';
	background: url(../img/popup-man.svg) no-repeat 22px 16px;
}

.header__input-phone {
	content: '';
	background: url(../img/tel-ico.svg) no-repeat 22px 16px;
}

.security__text {
	color: #c2c0c0;
	font-size: 14px;
	line-height: 35px;
	padding-left: 47px;
	background: url(../img/security-icon.svg) no-repeat 16px 6px;
	max-width: 230px;
	margin: 0 auto;
}

.main__button {
	/*line-height: 54px;*/
	width: 100%;
	padding: 15px 30px;
	/*height: 60px;*/
	border-radius: 30px;
	border-bottom: 6px solid #90b357;
	background: -webkit-gradient(linear, left top, right top, from(#8db452), color-stop(#b4cc65), to(#8eb454));
	background: -webkit-linear-gradient(left, #8db452, #b4cc65, #8eb454);
	background: -o-linear-gradient(left, #8db452, #b4cc65, #8eb454);
	background: linear-gradient(to right, #8db452, #b4cc65, #8eb454);
	cursor: pointer;
	color: #ffffff;
	font-size: 26px;
	font-weight: bold;
	position: relative;
	-webkit-box-shadow: 0px 17px 30px -14px rgba(194,207,173,1);
	-moz-box-shadow: 0px 17px 30px -14px rgba(194,207,173,1);
	box-shadow: 0px 17px 30px -14px rgba(194,207,173,1);
	display: block;
	margin: 25px 0 21px;
	text-align: center;
	transition: .5s;
	 overflow: hidden; 
}

.main__button::after {
	content: '';
	width: 80%;
	height: 2px;
	background: linear-gradient(to right, rgba(154, 187, 86, 0.5), #d7e157, rgba(154, 187, 86, 0.5));
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.main__button::before {
	content: '';
	width: 20px;
	height: 150%;
	background: rgba(255,255,255,0.4);
	-webkit-box-shadow: 0px 0px 63px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 63px 3px rgba(255,255,255,1);
	box-shadow: 0px 0px 63px 3px rgba(255,255,255,1);
	transform: translateY(-50%) rotate(25deg);
	position: absolute;
	top: 50%;
	left: -20%;
}

@keyframes main_btn {
	0%{
		left:-10%;
	}
	100%{
		left:120%;
	}
}

.main__button:hover::before {
	animation: main_btn 0.4s linear;
}

.main__button:hover {
		-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.main__button-header {
	max-width: 226px;
	margin: 25px auto 16px;
}

.header__lastpack_wrap {
	margin-top: 13px;
}

.header__lastpack {
	text-align: center;
	font-size: 15px;
}

/*header end*/

/*section2*/

.section2 {
	padding: 120px 0 90px;
}

.properties__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*-ms-align-items: center;
	align-items: center;*/
	margin-top: 67px;
	counter-reset: counter;
}

.properties__item {
	max-width: 280px;
	margin-bottom: 70px;
	counter-increment: counter;
}

.properties__title {
	padding-bottom: 23px;
	position: relative;
	font-weight: 900;
	font-size: 21px;
	color: #212121;
	position: relative;
	z-index: 1;
}

.properties__title::before {
	content: counter(counter);
	color: #f2f2f2;	
	font-size: 100px;
	font-weight: 900;
	position: absolute;
	bottom: -15px;
	left: -3px;
	z-index: -1;
}

.properties__title::after {
	content: '';
	background: url(../img/dashed.png) repeat-x;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
}


.properties__text {
	color: #5f952d;
	font-size: 16px;
	padding-top: 15px;
    line-height: 22px;
}


.properties__rhomb {
	width: 400px;
	height: 400px;
	border: 15px solid #8abc57;
	-webkit-box-shadow: 35px 35px 30px -27px rgba(199,211,187,1);
	-moz-box-shadow: 35px 35px 30px -27px rgba(199,211,187,1);
	box-shadow: 35px 35px 30px -27px rgba(199,211,187,1);
	transform: rotate(45deg);
	position: relative;
	z-index: 3;
	background: #ffffff;
}

.properties__girl {
	position: absolute;
	bottom: -56px;
	left: 19px;
	transform: rotate(-45deg);
}

.properties__mid {
	margin-top: 137px;
	position: relative;
}

.properties__rhomb-back {
	width: 403px;
	height: 403px;
	border: 1px solid #e1e1e1;
	position: absolute;
	z-index: -3;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.blue_under {
	color: #438099;
	/*text-decoration: underline;*/
}

.properties__approve {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-top: 11px;
	justify-content: space-around;
}

.approve__left_title {
	color: #1c2123;
	font-size: 25px;
	font-weight: 900;
	line-height: 27px;
	margin-top: 7px;
}

.approve__left {
	min-width: 300px;
}

.approve__left_text {
	color: #97c569;
	font-size: 44px;
	font-weight: 900;
	line-height: 41px;
    margin-top: 14px;
}

.approve__right {
	background: #f7f7f7;
	padding: 27px 30px;
}

.approve__right_title {
	font-weight: 900;
	font-size: 20px;
	color: #97c569;
	line-height: 24px;
	letter-spacing: 0.1px;
}

.approve__right_under {
	color: #1c2123;
	font-size: 14px;
	letter-spacing: 0.1px;
	margin-top: 7px;
}

.approve__right_text {
	color: #979797;
	font-size: 16px;
	margin-top: 17px;
	line-height: 28px;
}

/*section2 end*/


/*section3*/

.section3 {
	padding: 64px 0px 45px;
	background: #f4f4f4 url(../img/lines_bg.png) repeat-y center top;
	/*-webkit-background-size: cover;
	background-size: cover;*/
}

.title__composition {
	font-size: 103px;
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-weight: bold;
	line-height: -1.9px;
}

.title__composition__under {
	color: #87ba54;
	font-size: 51px;
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-weight: bold;
	max-width: 725px;
	margin-top: 26px;
	line-height: 51px;
	letter-spacing: -0.9px;
}

.composition__left {
	margin-top: 53px;
	position: relative;
}

.composition__left::after {
	content: '';
	width: 741px;
	height: 368px;
	background: url(../img/food_group2.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 155px;
    left: -35px;
    z-index: -1;
}

.composition_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 0;
}

.composition__right {
	position: relative;
	top: -60px;
}

.yellow__item, .green__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 28px;
}

.yellow__circle {
	width: 97px;
	height: 97px;
	border-radius: 50%;
	background: -webkit-gradient( linear, left top, right top, from(#e6c71b), color-stop(#e4d41e), to(#e6c71b));
	background: -webkit-linear-gradient( left, #e6c71b, #e4d41e, #e6c71b);
	background: -o-linear-gradient( left, #e6c71b, #e4d41e, #e6c71b);
	background: linear-gradient( to right, #e6c71b, #e4d41e, #e6c71b);
	border-bottom: 2px solid #dcac1b;
	-webkit-box-shadow: 0px 30px 39px -19px rgba(225,219,179,1);
	-moz-box-shadow: 0px 30px 39px -19px rgba(225,219,179,1);
	box-shadow: 0px 30px 39px -19px rgba(225,219,179,1);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 30px;
	flex-shrink: 0;
}

.yellow__descr, .green__descr {
	font-size: 26px;
	font-weight: 900;
	max-width: 310px;
}

.green__circle {
	width: 97px;
	height: 97px;
	border-radius: 50%;
	background: -webkit-gradient( linear, left top, right top, from(#8fb554), color-stop(#acc55f), to(#8fb554));
	background: -webkit-linear-gradient( left, #8fb554, #acc55f, #8fb554);
	background: -o-linear-gradient( left, #8fb554, #acc55f, #8fb554);
	background: linear-gradient( to right, #8fb554, #acc55f, #8fb554);
	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(226,234,87,0.4), 0px 1px 1px 0px #9fbb5e, 0px 30px 39px -19px rgba(211,218,198,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(226,234,87,0.4), 0px 1px 1px 0px #9fbb5e, 0px 30px 39px -19px rgba(211,218,198,1);
	box-shadow: inset 0px -1px 0px 0px rgba(226,234,87,0.4), 0px 1px 1px 0px #9fbb5e, 0px 30px 39px -19px rgba(211,218,198,1);
	position: relative;
	margin-right: 30px;
	flex-shrink: 0;
}

.green__circle::after {
	content: '';
	width: 76px;
	height: 96px;
	background: url(../img/circle_after.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: -20px;
	right: -13px;
}

.green__circle__value {
	font-weight: 900;
	color: #7f9d4d;
	font-size: 14px;
	position: absolute;
	top: 18px;
	right: 10px;
	z-index: 2;
}

.composition__green {
	margin-top: 72px;
}

/*section3 end*/



/*section4*/

.section4 {
	padding: 54px 0 50px;
}

.title-know {
	font-size: 86px;
	font-family: 'Roboto', serif;
	font-weight: 100; 
}

.seeds-style {
	font-family: 'PT Serif', serif;
	font-style: italic;
	color: #87ba54;
	font-weight: 300;
	white-space: nowrap; 
}

.makeup__wrap {
	margin-top: 45px;
}

.what {
	position: relative;
}

.what::after {
	content: 'что';
	font-size: 100px;
	color: #f4f4f4;
	font-weight: 900;
	position: absolute;
	top: 16px;
	left: -14px;
	z-index: -1;
}

.makeup__title {
	font-size: 38px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	font-style: italic;
	position: relative;
}

.makeup__title::after {
	content: '';
	height: 1px;
	background: #e3e3e3;
	width: 100%;
	position: absolute;
	top: 60%;
	left: 0px;
	display: block;
	z-index: -1;
}

.makeup__contain {
	background: #ffffff;
	padding-right: 15px;
}

.makeup__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.makeup__mid {
	margin: 25px 0 0 20px;
}

.makeup__right {
	margin: 25px 0 0 81px;
}

.makeup__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 223px;
}

.makeup__item {
	font-size: 20px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: 400;
	padding-left: 21px;
	position: relative;
	margin-bottom: 17px;
	line-height: 19px;
}

.makeup__item::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) rotate(45deg);
	width: 7px;
	height: 7px;
	background: #9ec768;
}

/*section4 end*/


/*section5*/

.section5 {
	padding: 100px 0 83px;
	background: #f4f4f4 url(../img/lines_bg.png) repeat-y center top;
}

.paraguya__wrap {
	padding-left: 200px;
	position: relative;
	z-index: 1;
}

.paraguya__map {
	background: url(../img/map.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 415px;
	height: 665px;
	position: absolute;
	top: -31px;
	left: -114px;
	z-index: -1;
}

.paraguya__map__color {
	position: absolute;
	top: 213px;
	left: 85px;
} 

.paraguay__title {
	color: #979797;
	font-size: 50px;
	line-height: 54px;
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-weight: bold;
	position: relative;
}

.paraguay__title::after {
	content: '';
	width: 105px;
	height: 59px;
	background: url(../img/arrow--map.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	left: -28px;
	bottom: -65px;
}

.paraguay-most {
	font-size: 90px;
	color: #1c2123;
	font-weight: bold;
	display: block;
	line-height: 90px;
}

.paraguay__text {
	margin-top: 95px;
	font-size: 18px;
	line-height: 26px;
	max-width: 570px;
}

.paraguay__effect {
	font-size: 18px;
	line-height: 23px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	max-width: 500px;
	position: relative;
	z-index: 1;
	margin: 34px 0 63px;
}

.paraguay__effect::after {
	content: '';
	background: #ffffff;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	left: 75px;
	width: 130%;
	height: 160%;
	z-index: -1;
}

.main__button-paraguay {
	max-width: 425px;
}

.paraguay__prod {
	position: absolute;
	bottom: 0;
	right: -140px;
	z-index: 2;
}

/*section5 end*/


/*section6*/

.section6 {
	padding: 56px 0 75px;
	background: #ffffff url(../img/lines_bg_light2.png) repeat-y center top;
}

.expert__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.expert__title {
	font-size: 50px;
	line-height: 50px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: bold;
	max-width: 708px;
}

.expert__title-big {
	color: #87ba54;
	font-size: 100px;
	line-height: 100px;
	display: block;
	padding-bottom: 26px;
}

.expert__text {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	line-height: 24px;
	color: #989898;
	padding: 7px 0;
}

.expert__why {
	font-family: 'Roboto', serif;
	font-weight: 900;
	color: #1c2123;
	font-size: 20px;
	margin-top: 38px;
}

.expert__top__text {
	max-width: 580px;
}

.expert__top__right {
	max-width: 370px;
	position: relative;
	margin-top: 26px;
}

.expert__img-top {
	position: relative;
	z-index: 2;
}

.expert__about {
	color: #5f952d;
	font-size: 18px;
	line-height: 24px;
	font-style: italic;
	max-width: 510px;
	/*position: absolute;*/
	/*left: -204px;*/
	/*bottom: 114px;*/
	position: relative;
	margin-left: -204px;
	margin-top: 8px;
	z-index: 1;
	letter-spacing: -0.4px;
}

.expert__about::after {
	content: '';
	background: #f7f7f7;
	width: 91%;
	height: 190%;
	position: absolute;
	top: -37px;
	left: 60px;
	z-index: -1;
}

.expert__descr {
	color: #020106;
	font-size: 20px;
	line-height: 24px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	/*position: absolute;*/
	/*right: 4px;*/
	/*bottom: 32px;*/
	z-index: 2;
	position: relative;
	margin-left: 142px;
	margin-top: 21px;
}

.expert__name {
	font-size: 24px;
	font-weight: bold;
}

.expert__bottom {
	margin-top: 36px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}

.expert__bottom__right {
	max-width: 760px;
	margin-top: 9px;
}

.expert__img-bottom {
	position: relative;
	z-index: 2;
}

.expert__bottom__left {
	margin-right: 28px;
}

.expert__img-bottom::after {
	content: '';
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	position: absolute;
	top: -17px;
	right: -15px;
	z-index: -1;
}

.expert__text-strong {
	position: relative;
	margin: 30px 0;
	z-index: 1;
}

.expert__text-strong::after {
	content: '';
	width: 100%;
	height: 110%;
	background: #f7f7f7;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -85px;
	z-index: -1;
}
/*section6 end*/



/*section7*/

.section7 {
	padding: 79px 0 120px;
	background: #f4f4f4;
}

.media__wrap {
	margin-top: 50px;
	background: url(../img/map_pixel.png) no-repeat center center;
}

.media__first, .media__second {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.media__item {
	width: 286px;
	height: 199px;
	padding: 10px;
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
	background: transparent;
	transition: .5s;
	position: relative;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.media__item:last-child {
	border-right: none;
}

.media__first {
	border-bottom: 1px solid #e0e0e0;
	max-width: 1145px;
	margin: 0 auto;	
}

.media__icon {
	max-width: 200px;
	width: 200px;
	/*height: 200px;*/
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: 0.5;
    transition: .5s;
    transform: translate(0px, 0px) scale(1.0);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

/*.media__icon-abs {
	width: 150px;
	position: absolute;
	top: 10px;
	left: 10px;
	transform: translateY(-200%);
	transition: .5s;
}*/

.media__text {
	font-weight: 500;
	font-size: 16px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	transform: translate(0px, 100%);
	transition: .5s;
	opacity: 0;
}

.media__icon img {
	width: 100%;
}


.media__item:hover {
	background: #ffffff;
}

.media__item:hover .media__icon{
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: translate(0,-40px) scale(0.7);
    opacity: 1;
}


.media__item:hover .media__text {
	transform: translate(0px, 0px);
	opacity: 1;
}


/*section7 end*/

/*section8*/

.section8 {
	padding: 84px 0;
	background: url(../img/lines_bg_small.png) repeat-y center top;
	position: relative;
	z-index: 1;
}

.title__recipe {
	font-size: 24px;
	font-style: italic;
	text-align: center;
	font-family: 'PT Serif', serif;
	margin: 19px 0;
}

.recipe__wrap {
	margin-top: 89px;
	position: relative;
	z-index: 2;
}

.recipe__line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: space-between;
}

.recipe__line3 {
	position: relative;
	margin-top: -220px;
	max-width: 780px;
}

.recipe__item {
	position: relative;
	max-width: 380px;
	margin: 0 5px;
}

.recipe__img {
	max-width: 270px;
	-webkit-box-shadow: 0px 12px 29px 0px rgba(224,224,224,1);
	-moz-box-shadow: 0px 12px 29px 0px rgba(224,224,224,1);
	box-shadow: 0px 12px 29px 0px rgba(224,224,224,1);
	position: relative;
}

.recipe__text {
	position: relative;
	padding-top: 25px;
	padding-left: 31px;
	padding-bottom: 30px;
	font-size: 17px;
	line-height: 24px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	margin-left: 10px;
	max-width: 360px;
}

.recipe__img-one::before {
	content: '';
	width: 130px;
	height: 157px;
	background: url(../img/food1_before.jpg) no-repeat;
	position: absolute;
	left: -47px;
	bottom: -136px;
	z-index: -1;
}

.recipe__img-two::before {
	content: '';
	width: 280px;
	height: 143px;
	background: url(../img/food2_before.png) no-repeat;
	position: absolute;
	left: 109px;
	bottom: -25px;
	z-index: -1;
}

.recipe__img-three::before {
	content: '';
	width: 83px;
	height: 97px;
	background: url(../img/food3_before.jpg) no-repeat;
	position: absolute;
	left: 250px;
	bottom: 78px;
	z-index: -1;
}

.recipe__img-four::before {
	content: '';
	width: 161px;
	height: 239px;
	background: url(../img/food4_before.jpg) no-repeat;
	position: absolute;
	left: 212px;
	bottom: -52px;
	z-index: -1;
}

.recipe__img-six::before {
	content: '';
	width: 180px;
	height: 284px;
	background: url(../img/food6_before.png) no-repeat;
	position: absolute;
	left: -90px;
	bottom: 100px;
	z-index: -1;
}

.recipe__img-six::after {
	content: '';
	width: 109px;
	height: 108px;
	background: url(../img/food6_after.jpg) no-repeat;
	position: absolute;
	right: -60px;
	bottom: 50px;
	z-index: -1;
}

.recipe__text::after {
	content: '';
	background: #f4f4f4;
	width: 75%;
	height: 150%;
	position: absolute;
	/*top: -71px;*/
	left: 0;
	bottom: -5px;
	z-index: -1;
}

/*.recipe__text::before {
	content: '1';
	font-family: 'PT Serif', serif;
	font-size: 40px;
	color: #87ba54;
	font-weight: 300;
	position: absolute;
	left: 41px;
	bottom: -20px;
}*/

.recipe__number {
	font-size: 40px;
	color: #87ba54;
	font-weight: 300;
	position: absolute;
	left: 41px;
	bottom: -20px;
}

.recipe__item-two {
	top: 25px;
}

.recipe__item-three {
	top: -28px;
}

.recipe__item-five {
	top: 110px;
}

.recipe__item-seven {
	max-width: 760px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.recipe__number-seven {
	left: 310px;
	bottom: 5px;
}

.recipe__text-seven {
	top: -20px;
	max-width: 760px;
}

.recipe__img-seven {
	flex-shrink: 0;
}

.recipe__img img {
	display: block;	
}

.recipe__text-seven::after {
	content: '';
    background: #f4f4f4;
    width: 75%;
    height: 100%;
    position: absolute;
    left: -20px;
    bottom: -5px;
    z-index: -1;
}



/*section8 end*/


/*section9*/

.section9 {
	padding: 71px 0;
	background: #f4f4f4 url(../img/recipe_bg.png) no-repeat center center;
}

.title__king {
	font-size: 80px;
	line-height: 74px;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	font-style: italic;
}

.king__under {
	font-size: 50px;
	color: #87ba54;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: bold;
	margin-top: 28px;
}

.king__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 73px;
}

.king__descr {
	font-size: 18px;
	line-height: 23px;
	font-weight: 900;
	max-width: 450px;
	color: #87ba54;
}

.king__text {
	font-size: 17px;
	line-height: 24px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	max-width: 435px;
	margin-top: 18px;
}

.king__left {
	position: relative;
	z-index: 3;
}

.king__mid {
	margin: 0 10px;
}

.king__right {
	position: relative;
	z-index: 1;
	margin-top: -210px;
}

.king__smallimg {
	position: absolute;
	bottom: 27px;
	left: -215px;
}

.king__about {
	margin-top: 17px;
	position: relative;
	z-index: 1;
}

.king__about::after {
	content: '';
	background: #ffffff;
	width: 100%;
	height: 165%;
	position: absolute;
	left: 63px;
	top: -50px;
	z-index: -1;
}

.recipe__under-one {
	font-size: 74px;
	color: #ffffff;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	left: 17px;
	bottom: -169px;
	z-index: -1;
}

.recipe__under-two {
	font-size: 50px;
	color: #e2e2e2;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	left: -235px;
	bottom: -213px;
	z-index: -1;
}

.recipe__under-three {
	font-size: 50px;
	color: #e2e2e2;
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	left: -235px;
	bottom: -265px;
	z-index: -1;
}

.king__want {
	font-size: 44px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	text-align: center;
	margin-top: 86px;
}

.princess {
	position: relative;
}

.princess::after {
	content: '';
	width: 104px;
	height: 65px;
	background: url(../img/arrow--btn.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	right: 54px;
	bottom: -75px;
}

.princess::before {
	content: '';
	width: 50px;
	height: 38px;
	background: url(../img/crown-princess.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -33px;
}

.main__button-king {
	max-width: 226px;
	margin: 40px auto 0;
}

/*section9 end*/


/*section10*/

.section10 {
	padding: 80px 0 60px;
}

.review__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.review__item {
	max-width: 270px;
	margin: 0 8px;
}


.review__btn {
	background: url(../img/arrow.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 40px;
	height: 35px;
	display: block;
	margin: 26px auto 0;
	cursor: pointer;
	position: relative;
	display: block;
	z-index: 5;
}

.review__img {
	-webkit-box-shadow: 8px 8px 29px 0px rgba(224,224,224,1);
	-moz-box-shadow: 8px 8px 29px 0px rgba(224,224,224,1);
	box-shadow: 8px 8px 29px 0px rgba(224,224,224,1);
	max-width: 270px;
	max-height: 187px;
	overflow: hidden;
	position: relative;
	transition: .5s;
	z-index: 3;

	-webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
}

.review__descr {
	padding-left: 42px;
	position: relative;
	z-index: 2;
	max-width: 270px;
	margin: 0 auto;
	min-height: 60px;
}

.review__girl {
	margin-top: 29px;
	font-size: 18px;
}

.review__weight {
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-size: 17px;
	margin-top: 4px;
}

.review-name {
	font-weight: 900;
	font-size: 22px;
}

.review__text__wrap {
	margin-top: 22px;
	/*height: 112px;*/
	max-height: 112px;
	overflow: hidden;
	transition: .5s;
	padding: 0 5px;
}

.review__text__wrap.active {
	/*height: auto;*/
	max-height: 500px;
	/*height: 440px;*/
}

.review__descr::after {
	content: '';
	width: 74%;
	height: 155px;
	background: #f7f7f7;
	position: absolute;
	right: 0;
	bottom: -15px;
	z-index: -1;
}

.review__text {
	color: #979797;
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.2px;
}

_:-ms-fullscreen, :root .review__text__wrap { max-height: 117px; }

.review__crown {
	width: 46px;
	height: 46px;
	margin: 33px auto;
	transition: .5s;
}

.review__img img {
	display: block;
}

.crown-line {
	opacity: 0;
	transition: .5s;
}

.color1 {
    fill: #e0e0e0;
    fill-rule: evenodd;
    transition: .5s;
}

.arrow-color {
	fill: #e0e0e0;
	transition: .5s;
}

.arrow__lines {
	position: absolute;
	top: 20px;
	transition: .5s;
	opacity: 0;	
}

.review__crown-one {
	transform: rotate(-15deg);
}

.review__crown-two {
	transform: rotate(-5deg);
}

.review__crown-three {
	transform: rotate(15deg);
}

.review__crown-four {
	transform: rotate(-10deg);
}

.review__item:hover .review__crown {
	transform: rotate(0deg);
}

.review__item:hover .review__img {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
.review__item:hover .color1 {
	fill: #87ba54;
}

.review__item:hover .crown-line {
	opacity: 1;
}

.review__item:hover .arrow__lines {
	opacity: 1;
}

.review__btn:hover .arrow-color {
	fill: #87ba54;
}

.active__crown {
	transform: rotate(0deg);
}
.active__crown .color1 {
	fill: #87ba54;
}

.active__crown .crown-line {
	opacity: 1;
}

.review__img-active {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.slick-slide {
	outline: none;
}

.block__op {
	opacity: 1;
}

.block__op .arrow-color {
	fill: #87ba54;
}


.slick-prev {
	left: 15px;
	z-index: 20;
}

.slick-next {
	right: 15px;
	z-index: 20;
}

.slick-prev, .slick-next {
	border: 4px solid #87ba54;
	transform: rotate(45deg);
	width: 25px;
	height: 25px;
	top: 275px;
}

.slick-prev:before, .slick-next:before {
	content: '';
	width: 25px;
	height: 25px;
	background: url(../img/arrow_slider.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 0;
	left: -8px;
	transform: rotate(45deg);
}

.slick-next:before {
	transform: rotate(225deg);
	top: -8px;
	left: 0;
}


/*section10 end*/


/*section11*/

.section11 {
	padding: 70px 0;
	background: #f4f4f4;
}

.order__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-top: 50px;
}

.order__item {
	text-align: center;
	position: relative;
	z-index: 0;
	width: 375px;
}

.order__circle {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 10px solid 	#efefef;
	margin: 0 auto;
	position: relative;
}

.order__item::after {
	content: '';
	width: 1px;
	height: 65%;
	background: #e1e1e1;
	position: absolute;
	right: 0;
	top: 0;
}

.order__item:last-child::after {
	display: none;
}

.order__item:last-child::before {
	display: none;
}

.order__item::before {
	content: '';
	width: 30px;
	height: 40px;
	background: #f4f4f4 url(../img/arrow.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 28%;
	right: -32px;
	padding: 0 10px;
	transform: rotate(-90deg);
	z-index: 2;
	animation: order_arrow 2s infinite;
}

.order__item:nth-child(2)::before {
	animation-delay: 1s;
}

@keyframes order_arrow {
	 0% {
        transform: rotate(-90deg) translateY(0);
    }

    25% {
        transform: rotate(-90deg) translateY(10px);
    }

    51%,100% {
        transform: rotate(-90deg) translateY(0);
    }
}

.order__circle-one::before {
	content: '';
	position: absolute;
	top: -30px;
	left: -30px;
	background: url(../img/order_icon1.png) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 68px;
	height: 83px;
	z-index: -1;
}

.order__circle-two::before {
	content: '';
	position: absolute;
	top: -30px;
	left: -30px;
	background: url(../img/order_icon2.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 59px;
	height: 91px;
	z-index: -1;
}

.order__circle-three::before {
	content: '';
	position: absolute;
	top: -30px;
	left: -30px;
	background: url(../img/order_icon3.svg) no-repeat center center;
	-webkit-background-size: contain;
	background-size: contain;
	width: 83px;
	height: 89px;
	z-index: -1;
}

.order__circle-one {
	background: #ffffff url(../img/order_form.png) no-repeat center center;
	-webkit-background-size: 90%;
	background-size: 90%;
	background-position: center -6px;
}

.order__circle-two {
	background: #ffffff url(../img/order_phone.jpg) no-repeat center center;
	-webkit-background-size: 60%;
	background-size: 60%;
	background-position: center 20px;
}

.order__circle-three {
	background: #ffffff url(../img/prod_pack.png) no-repeat center center;
	-webkit-background-size: 50%;
	background-size: 50%;
	background-position: center 20px;
}

.order__do {
	font-size: 22px;
	font-weight: 900;
	margin-top: 40px;
}

.order__text {
	font-size: 17px;
	line-height: 26px;		
	color: #979797;
	margin: 11px auto 0;
	max-width: 350px;
}


/*section11 end*/

/*header-bottom*/

.header-bottom {
	background: #ffffff url(../img/header_bg.png) no-repeat 100px top;
	-webkit-background-size: cover;
	background-size: cover;
}

/*header-bottom end*/

/*footer*/

footer {
	padding: 110px 0 60px;
}

.footer__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.footer__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.footer__logo {
	margin-right: 20px;
}

.footer__text {
	font-size: 16px;
	color: #666666;
	padding: 4px 0;
}

.footer__mid {
	text-align: center;
}

.footer__right {
	text-align: right;
}

.footer__text-a {
	text-decoration: none;
}

/*footer end*/

/*popup*/

.popup__list {
	background: #ffffff;
	border-radius: 5px;
	padding: 10px 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.popup__left {
	width: 350px;
}

.popup__img {
	max-width: 350px;
	margin-top: -115px;
}

.header__form-popup::before, .header__form-popup::after {
	display: none;
}

.header__form-popup {
	padding: 0;
		-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.header__input-popup {
	width: 100%;
	max-width: 	266px;
	background-color: #f8f8f8;
}

.main__button-popup {
	max-width: 266px;
}

/*popup end*/

/*animate*/

.prod__name-svg {
	width: 100%;
	max-width: 340px;
}

.prod_name_svg1 {
	stroke: #6BBA4A;
	fill: #6BBA4A;
	stroke-dasharray: 1000;
	stroke-miterlimit:10;
	stroke-width:1;
	opacity: 1;
	/*animation: prod_name_svg 3s cubic-bezier(0,0,1,1) forwards;*/
}
.prod_name_svg2 {
	stroke: #6BBA4A;
	fill: #f3f3f3;
	stroke-width: 1;
	stroke-dasharray: 70;
	stroke-width:1;
	opacity: 1;
	stroke-miterlimit:10;
	/*animation: prod_name_svg-hole 2s linear forwards;*/
}

@keyframes prod_name_svg {
	0% {
		opacity: 0.5;
		fill: rgba(107, 186, 74, 0);
		stroke-dashoffset: 1000;
	}
	50% {
		opacity: 1;
		fill: rgba(107, 186, 74, 0);
		stroke-dashoffset: 500;
	}

	75%,100% {
		fill: rgba(107, 186, 74, 1);
		stroke-dashoffset: 0;
	}
}

/*@keyframes prod_name_svg-hole {
	0% {
		opacity: 0;
		fill: rgba(243, 243, 243, 0);
		stroke-dashoffset: 70;
	}
	20% {
		opacity: 0.5;
		fill: rgba(243, 243, 243, 0);
		stroke-dashoffset: 70;
	}
	90% {
		stroke-dashoffset: 0;
	}
	100% {
		opacity: 1;
		fill: rgba(243, 243, 243, 1);
	}
}*/

/*footer dor Europe*/
	.footer__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.footer__mob {
		display: none;
	}

	.footer__logo {
		margin-right: 0;
		margin-bottom: 15px;
	}