@media screen and (max-width: 1500px) {

	.paraguay__prod {
		bottom: 0;
		right: 10px;
		max-width: 315px
	}

}
@media screen and (max-width: 1200px) {

	.review__img {
		max-width: 240px;
		max-height: 165px;
		margin: 0 auto;
	}

	.review__girl {
		margin-top: 20px;
	}

	.properties__rhomb {
		width: 262px;
		height: 265px;
	}

	.properties__rhomb-back {
		width: 288px;
		height: 288px;
	}

	.properties__wrap {
		justify-content: space-around;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.properties__item:last-child {
		margin-bottom: 10px;
	}

	.properties__item {
		margin-bottom: 50px;
	}

	.properties__girl {
    bottom: -39px;
    left: -13px;
    max-width: 230px;
	}
	.expert__about {
		margin-left: -180px;
	}

	.paraguya__map {
		width: 355px;
		height: 565px;
		top: 9px;
		left: -24px;
	}

	.paraguya__map__color {
		top: 193px !important;
		left: 98px !important;
		max-width: 160px;
	}

	.paraguay__title::after {
		left: 32px;
	}

}
@media screen and (max-width: 1150px) {


	.header__girl {
		max-width: 545px;
		left: 32.5%;
	}

	.header__prod {
		max-width: 300px;
		left: 42%;
		bottom: -11%;
	}

	.header__expression {
		font-size: 16px;
		line-height: 22px;
	}

	.header__expression__wrap {
		max-width: 450px;
	}

	.header__undertitle {
		max-width: 400px;
	}

	.header__list__item {
		font-size: 17px;
	}

	.properties__item {
		max-width: 250px;
	}

	.properties__text br {
		display: none;
	}

	.title__composition__under {
		max-width: 545px;
	}

	.makeup__item {
		font-size: 18px;
	}

	.title-know {
		font-size: 72px;
	}

	.what::after {
		font-size: 80px;
	}

	.makeup__right {
		margin: 25px 0 0 40px;
	}

	.makeup__left {
		-ms-align-items: center;
		align-items: center;
	}

	.makeup__wrap {
		margin-top: 25px;
	}

	.paraguay__text {
		max-width: 460px;
	}

	.paraguay__effect {
		max-width: 420px;
	}

	.expert__top__text {
		max-width: 560px;
	}

	.expert__img-top {
		max-width: 320px;
	}

	.expert__about {
		margin-left: -114px;
	}

	.expert__descr {
		margin-left: 60px;
	}

	.expert__about {
		max-width: 370px;
	}

		.expert__top__left {
		margin-right: 15px;
	}

	.recipe__text-seven {
		max-width: 350px;
	}

	.king__right {
		max-width: 320px;
		margin-top: -160px;
	}

	.king__left {
		max-width: 230px;
	}

	.king__smallimg {
    bottom: -33px;
    left: -135px;
    max-width: 220px;
	}

	.king__under {
		font-size: 45px;
	}

	.king__want {
		margin-top: 135px;
	}


}

@media screen and (max-width: 999px) {
	
	.block {
		padding: 40px 0;
	}

	.section2 {
		padding-top: 80px;
	}

	.header__left {
		padding-top: 30px;
	}
	
	.header__girl {
		display: none;
	}

	.header__list {
		max-width: 360px;
	}

	.header__expression__wrap {
		max-width: 350px;
		margin-bottom: 70px;
	}

	.prod__name-svg {
		max-width: 300px;
		display: inline-block;
	}

	.header__title {
		font-size: 24px;
		line-height: 30px;
	}

	.header__undertitle {
		font-size: 24px;
		line-height: 28px;
	}

	.header__list__item {
		margin-bottom: 12px;
	}

	.header__prod {
		max-width: 340px;
		left: 43%;
	}

	.header__expression::after {
		/*display: none;*/
	}

	.header__right {
		padding-top: 120px;
	}

	.header__form {
		padding: 15px;
	}

	.form__rhomb {
		width: 140px;
		height: 140px;
		top: -103px;
	}

	.main__button-header, .header__input {
		margin: 10px auto;
	}

	.properties__mid {
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
		width: auto;
		margin-top: 140px;
		margin-bottom: 60px;
	}
	.properties__wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.properties__rhomb {
		margin: 0 auto;
	}

	.properties__item {
		max-width: 360px;
	}

	.title {
		font-size: 39px;
		line-height: 39px;
	}

	.approve__left {
		min-width: 240px;
	}

	.approve__left_text {
		font-size: 37px;
	}

	.approve__left_title {
		font-size: 24px;
	}

	.approve__right {
		padding: 13px;
	}

	.yellow__descr, .green__descr {
		font-size: 19px;
	}

	.yellow__circle, .green__circle {
		margin-right: 17px;
	}

	.composition__right {
		top: 0;
	}

	.composition_wrap {
		margin-top: 25px;
	}

	.title__composition__under {
		max-width: 100%;
	}

	.composition_wrap {
		-ms-align-items: center;
		align-items: center;
	}

	.yellow__item, .green__item {
		margin-bottom: 15px;
	}

	.composition__green {
		margin-top: 32px;
	}

	.composition__left {
		margin-top: 0;
		max-width: 480px;
	}

	.composition__left::after {
		display: none;
	}

	.title__composition__under {
		margin-top: 0;
	}

	.title__composition {
		font-size: 83px;
	}

	.title__composition__under {
		font-size: 45px;
		line-height: 45px;
	}
	
	.makeup__mid {
		margin: 20px 0 0 20px;
	}

	.makeup__right {
	    margin: 20px 0 0 30px;
	}

	.makeup__item {
		font-size: 17px;
		line-height: 18px;
	}

	.makeup__wrap {
		margin-top: 15px;
	}

	.title-know {
		font-size: 55px;
	}

	.what::after {
		font-size: 55px;
		left: -2px;
	}

	.green__circle, .yellow__circle {
		width: 87px;
		height: 87px;
	}

	.paraguay__according {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.paraguay__prod {
		position: static;
		max-width: 230px;
		flex-shrink: 0;
	}

	.paraguay__effect::after {
		width: 100%;
	}

	.paraguya__map {
		top: -11px;
		left: -64px;
	}

	.paraguay__text {
		max-width: 100%;
		margin-bottom: 10px;
	}

	.paraguay-most {
		font-size: 80px;
		line-height: 80px;
	}

	.paraguay__title {
		font-size: 45px;
		line-height: 46px;
	}

	.paraguay__text {
		margin-top: 75px;
	}

	.expert__about {
		margin-left: 0;
		max-width: 360px;
		padding-right: 15px;
	}

	.expert__about::after {
		width: 90%;
		left: auto;
		right: 6px;
		font-size: 17px;
	}

	.expert__descr {
		font-size: 18px;
	}

	.expert__title-big {
		font-size: 80px;
		line-height: 80px;
		padding-bottom: 0;
	}

	.expert__title {
		font-size: 40px;
		line-height: 40px;
	}

	.expert__bottom {
		-ms-align-items: center;
		align-items: center;
	}

	.expert__img-bottom {
		max-width: 260px;
	}

	.expert__bottom__left {
		flex-shrink: 0;
	}

	.media__text {
		font-size: 14px;
	}

	.recipe__item-two, .recipe__item-three, .recipe__item-five {
		top: 0;
	}

	.recipe__item:last-child {
		/*margin-bottom: 0;*/
	}

	.recipe__img-three::before, .recipe__img-six::before, .recipe__img-six::after, .recipe__img-two::before, .recipe__img-four::before, .recipe__img-one::before {
		display: none;
	}

	.recipe__line {
		margin-top: 35px;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.recipe__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		max-width: 100%;
		margin: 0 auto 25px;
	}

	.recipe__img {
		flex-shrink: 0;
	}

	.recipe__text::after {
			height: 100%;
			left: -20px;
			bottom: 50%;
			transform: translateY(50%);
	}

	.recipe__text-seven {
		top: 0;
	}

	.recipe__number {
		display: none;
	}

	.recipe__line {
		margin-top: 0;
	}

	.recipe__wrap {
		margin-top: 40px;
	}

	.king__smallimg {
		display: none;
	}

	.king__right {
		margin-top: -60px;
	}

	.king__about::after {
		height: 120%;
		top: -32px;
	}

	.title__king br {
		display: none;
	}

	.recipe__under-one {
		display: none;
	}

	.recipe__under-two {
		bottom: -73px;
		left: -195px;
	}

	.recipe__under-three {
		left: -195px;
		bottom: -135px;
	}

	.king__want {
		margin-top: 75px;
	}

	.title__king {
		font-size: 70px;
		line-height: 64px;
	}

	.king__under {
		font-size: 40px;
	}

	.recipe__line3 {
		margin: 0 auto;
	}

	.order__circle {
		width: 195px;
		height: 195px;
	}

	.order__do {
		min-height: 44px;
	}

	.expert__bottom {
		margin-top: 5px;
	}

	.review__item {
		width: 100%;
		max-width: 100%;
	}

	.review__crown {
		transform: rotate(0deg);
	}

	.review__img {
		-webkit-filter: grayscale(0%);
	    -moz-filter: grayscale(0%);
	    -ms-filter: grayscale(0%);
	    -o-filter: grayscale(0%);
	    filter: grayscale(0%);
	}

	.crown-line {
		opacity: 1;
	}

	.color1 {
		fill: #87ba54;
	}

	.order__text {
		min-height: 80px;
	}

	.order__item::after {
		height: 60%;
	}

	.order__item::before {
		top: 25%;	
	}

	.main__button-paraguay {
		margin-bottom: 0;
		margin-top: 2px;
	}

	footer {
		padding: 80px 0 60px;
	}




}

@media screen and (max-width: 870px) {
	.section2 {
		padding-top: 40px;
	}
	.header__expression__wrap {
		display: none;
	}

	.header__prod {
		position: relative;
		top: 0;
		left: 0;
		max-width: 300px;
		margin: 15px auto 0;
	}

	.header__list {
		max-width: 430px;
	}

	.header__title, .header__undertitle, .header__list {
		margin-top: 15px;
	}

	.header__wrap {
		justify-content: center;
	}

	.header__right {
		padding-top: 150px;
		margin-left: 10px;
	}

	.recipe__under-two {
		display: none;	
	}

	.recipe__under-three {
		display: none;
	}

	footer {
		padding: 40px 0;
	}

}


@media screen and (max-width: 767px) {
		.block {
			padding: 30px 0;
		}
	.header__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.header__line {
		display: none;
	}

	.header__right {
		padding-top: 110px;
		margin-bottom: 46px;
		margin-left: 0;
		overflow: visible;
	}

	.header__form {
		-webkit-box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);
		-moz-box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);
		box-shadow: 0px 10px 50px -5px rgba(182,185,189,1);
	}

	.properties__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.properties__item {
		max-width: 530px;
	}


	.properties__approve {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.approve__left {
		margin-bottom: 15px;
		text-align: center;
	}

	.approve__right_title {
		font-size: 18px;
	}

	.approve__left_title {
		font-size: 22px;
	}

	.approve__left_text {
		margin-top: 0;
		margin-left: 10px;
		font-size: 27px;
		line-height: 27px;
	}

	.approve__left br {
		display: none;
	}

	.properties__item:last-child {
		margin-bottom: 50px;
	}

	.properties__wrap {
		overflow: hidden;
	}

	.properties__rhomb {
		-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	}

	.title {
		font-size: 34px;
		line-height: 34px;
	}

	.properties__left {
		padding-top: 30px;
	}

	.properties__wrap {
		margin-top: 35px;
	}

	.composition_wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

		.title__composition {
			font-size: 65px;
			line-height: 60px;
			text-align: center;
		}

		.title__composition__under {
			font-size: 37px;
			line-height: 37px;
			text-align: center;
		}

		.composition__left {
			max-width: 360px;
		}

	.title-know {
		font-size: 50px;
		text-align: center;
		line-height: 45px;
	}

	.what::after {
		font-size: 55px;
		left: -2px;
	}

	.makeup__left {
		display: none;
	}

	.paraguya__wrap {
		padding-left: 0;
	}

	.paraguya__map {
		display: none;
	}

	.paraguay__title::after {
		display: none;
	}

	.paraguay__effect::after {
		left: 35px;
	}

	.paraguay-most {
		font-size: 70px;
		line-height: 70px;
	}

	.paraguay__title {
	    font-size: 37px;
	    line-height: 40px;
	}

	.paraguay__text {
		margin-top: 25px;
	}

	.main__button-paraguay {
		margin: 25px auto 0;
	}

	.expert__title-big {
		font-size: 62px;
		line-height: 57px;
	}

	.expert__title br {
		display: none;	
	}

	.expert__title {
	    font-size: 33px;
	    line-height: 33px;
	}

	.expert__why {
		margin-top: 25px;
	}

	.expert__about {
		font-size: 16px;
	}

	.expert__text {
		font-size: 17px;
	}

	.expert__bottom__left {
		display: none;
	}

	.expert__top {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.expert__top__text, .expert__bottom__right {
		max-width: 100%;
	}

	.expert__top__left {
		margin-right: 0;
	}

	.expert__text-strong {
		margin: 10px 0;
	}

	.expert__bottom {
		margin-top: 5px;
	}

	.expert__descr {
		margin-left: 150px;
	}

	.expert__descr {
		font-size: 16px;
	}

	.media__first, .media__second {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 0 auto;
	}

	.media__item:nth-child(even) {
	    border-right: none;
	}

	.media__item:nth-child(even) {
	    border-right: none;
	}

	.media__item {
		border-bottom: 1px solid #e0e0e0;
		width: 290px;
	}

	.media__item-none {
		border-bottom: none;
	}

	.media__first {
     border-bottom: 1px solid #e0e0e0; 
	}

	.recipe__text {
		padding-left: 12px;
		font-size: 16px;
		padding-right: 20px;
	}
	
	.title__recipe {
		font-size: 21px;
	}
	
	.king__left {
		display: none;
	}

	.king__list {
		-ms-align-items: center;
		align-items: center;
		justify-content: space-around;
	}

	.king__right {
		margin-top: 0;
		max-width: 210px;
		flex-shrink: 0;
	}

	.king__descr {
		font-size: 17px;
	}

	.king__list {
		margin-top: 25px;
	}

	.title__king {
		font-size: 50px;
		line-height: 45px;
		text-align: center;
	}

	.king__under {
		font-size: 30px;
		text-align: center;
	}

	.king__about::after {
	    height: 110%;
	    top: -11px;
	}

	.princess::after {
		display: none;
	}

	.king__want {
		font-size: 39px;
	}

	.princess::before {
		display: none;
	}

	.king__want {
		margin-top: 45px;
	}

	.order__item::after, .order__item::before {
		display: none;
	}

	.order__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}

	.order__do {
		min-height: auto;
		margin-top: 10px;
	}

	.order__item {
		margin-bottom: 40px;
	}

	.order__item {
		width: 100%;
		max-width: 345px;
	}

	.order__wrap {
		margin-top: 70px;
	}

	.footer__wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.footer__mob {
		display: none;
	}

	.footer__logo {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.popup__list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}

	.popup__left {
		width: 250px;
		margin: 0 auto 5px;
	}

	.popup__img {
    max-width: 220px;
    margin-top: 10px;
	}

	.review__text__wrap {
		max-width: 500px;
		margin: 22px auto 0;
	}


	.slick-prev {
		left: 10px;
		z-index: 10;
		top: 290px;
	}

	.slick-next {
		right: 10px;
		z-index: 10;
		top: 290px;
	}

	.review__wrap {
		max-width: 550px;
		margin: 0 auto;
	}

	
	.media__first {
    border: none;
	}

}


@media screen and (max-width: 599px) {

	.makeup__list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}	
	
	.makeup__mid, .makeup__right {
		max-width: 300px;
		margin: 0 auto;
	}

	.makeup__title {
		margin-bottom: 25px;
	}
	
	.makeup__title {
		font-size: 35px;
	}

	.media__item {
		border: none;
		background: rgba(255,255,255,0.5);
		margin-bottom: 15px;
	}

	.recipe__item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.recipe__text::after {
		left: 45px;
		bottom: 60%;
		width: 85%;
	}
}
@media screen and (max-width: 479px) {

	.block {
		padding: 25px 0;
	}

	.header__name {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.properties__rhomb-back {
	    width: 218px;
	    height: 218px;
	}

	.properties__mid {
		margin-top: 80px;
	}

	.properties__rhomb {
    width: 210px;
    height: 210px;
	}

	.properties__girl {
		bottom: -30px;
    left: -6px;
		max-width: 175px;
	}

	.title {
		font-size: 28px;
		line-height: 30px;
	}

	.title__composition {
		font-size: 45px;
	}

	.title__composition__under {
		font-size: 26px;
		line-height: 30px;
	}

	.yellow__descr, .green__descr {
		font-size: 16px;
	}

	.composition__left {
	    max-width: 260px;
	}

	.makeup__item {
		font-size: 17px;
	}

	.title-know {
		font-size: 43px;
		line-height: 35px;
	}

	.makeup__title {
		font-size: 30px;
	}

	.what::after {
	    font-size: 47px;
	    left: -4px;
	}

	.paraguay__according {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.paraguay__effect::after {
		display: none;
	}

	.main__button {
		font-size: 25px;
	}

	.paraguay__effect {
		margin: 10px auto 25px;
	}

	.paraguay__text {
		font-size: 16px;
	}

	.paraguay-most {
		font-size: 50px;
		line-height: 50px;
	}
	
	.paraguay__title br {
		display: none;
	}

	.paraguay__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
	}

	.expert__title-big {
    font-size: 50px;
    line-height: 51px;
	}

	.expert__title {
    font-size: 25px;
    line-height: 26px;
    text-align: center;
	}

	.expert__text {
		font-size: 16px;
	}
	
	.expert__descr {
	    margin-left: 110px;
	}

	.title__recipe {
		font-size: 19px;
	}

	.king__list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.king__mid {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
	}

	.king__about::after {
		width: 88%;
		left: 43px;
	}

	.king__right {
		max-width: 200px;
		margin-bottom: 20px;
	}

	.title__king {
		font-size: 45px;
		line-height: 40px;
	}

	.king__under {
		font-size: 26px;
		margin-top: 20px;
	}

	.king__want {
		font-size: 33px;
	}

	.prod__name-svg {
		margin-top: 6px;
		max-width: 250px;
	}


	.review__descr::after {
		right: 35px;
	}




}