@font-face{
font-family: 'pfagoraslabpro';
src: url('../fonts/pfagoraslabpro-bold.ttf');
font-weight: bold;
font-style: normal;

}
* {
  margin: 0;
  padding: 0;
  font-family: 'pfagoraslabpro', serif;
}
body{
  background: #202e61
}
.title{
  text-align: center;
  font-size: 0px;
  color: #fad348;
  text-transform: uppercase;
}

.title span {
  font-size: 100px;
  letter-spacing :5px;
}
.first-line span:first-child{
  text-shadow:0px 0px 0 rgb(193,103,0),
    1px 1px 0 rgb(192,102,-1),
    2px 2px 0 rgb(191,101,-2),
    3px 3px 0 rgb(190,100,-3),
    4px 4px 0 rgb(189,99,-4),
    5px 5px 0 rgb(188,98,-5),
    6px 6px 0 rgb(187,97,-6),
    7px 7px 0 rgb(186,96,-7),
    8px 8px 0 rgb(185,95,-8),
    9px 9px 0 rgb(185,95,-8),
    10px 10px 0 rgb(184,94,-9),
    11px 11px 0 rgb(183,93,-10),
    12px 12px 0 rgb(182,92,-11),
    13px 13px 0 rgb(181,91,-12),
    14px 14px 0 rgb(180,90,-13),
    15px 15px 0 rgb(179,89,-14),
    16px 16px 0 rgb(178,88,-15),
    17px 17px 0 rgb(177,87,-16),
    18px 18px 0 rgb(176,86,-17),
    19px 19px 0 rgb(175,85,-18),
    20px 20px 0 rgb(174,84,-19),
    20px 21px 0 #fad348;
}
.first-line span:nth-child(2){
  text-shadow:0px 0px 0 rgb(193,103,0),
    1px 5px 0 rgb(192,102,-1),
    2px 6px 0 rgb(190,100,-3),
    3px 7px 0 rgb(189,99,-4),
    4px 8px 0 rgb(188,98,-5),
    5px 9px 0 rgb(187,97,-6),
    6px 10px 0 rgb(186,96,-7),
    7px 11px 0 rgb(185,95,-8),
    8px 12px 0 rgb(183,93,-10),
    9px 13px 0 rgb(182,92,-11),
    10px 14px 0 rgb(181,91,-12),
    11px 15px 0 rgb(180,90,-13),
    12px 16px 0 rgb(179,89,-14),
    13px 17px 0 rgb(177,87,-16),
    14px 18px 0 rgb(176,86,-17),
    15px 19px 0 rgb(175,85,-18),
    16px 20px 0 rgb(174,84,-19),
    16px 21px 0 #fad348;
}
.first-line span:nth-child(3){
 text-shadow:0px 0px 0 rgb(192,102,-1),
   1px 5px 0 rgb(191,101,-2),
   2px 6px 0 rgb(189,99,-4),
   3px 7px 0 rgb(188,98,-5),
   4px 8px 0 rgb(186,96,-7),
   5px 9px 0 rgb(185,95,-8),
   6px 10px 0 rgb(183,93,-10),
   7px 11px 0 rgb(181,91,-12),
   8px 12px 0 rgb(180,90,-13),
   9px 13px 0 rgb(178,88,-15),
   10px 14px 0 rgb(177,87,-16),
   11px 15px 0 rgb(175,85,-18),
   12px 16px 0 rgb(173,83,-20),
   13px 17px 0 rgb(173,82,-22),
   14px 18px 0 rgb(173,82,-22),
   15px 19px 0 rgb(173,82,-22),
   16px 20px 0 rgb(173,82,-22),
   16px 21px 0 #fad348;
}
.first-line span:nth-child(4){
  text-shadow:0px 0px 0 rgb(192,102,-1),
    1px 5px 0 rgb(190,100,-3),
    1.5px 6px 0 rgb(190,100,-3),
    2px 7px 0 rgb(188,98,-5),
    2.5px 8px 0 rgb(188,98,-5),
    3px 9px 0 rgb(186,96,-7),
    3.5px 10px 0 rgb(186,96,-7),
    4px 11px 0 rgb(185,95,-8),
    4.5px 12px 0 rgb(185,95,-8),
    5px 13px 0 rgb(183,93,-10),
    5.5px 14px 0 rgb(183,93,-10),
    6px 15px 0 rgb(181,91,-12),
    6.5px 16px 0 rgb(181,91,-12),
    7px 17px 0 rgb(179,89,-14),
    7.5px 18px 0 rgb(179,89,-14),
    8px 19px 0 rgb(177,87,-16),
    8.5px 20px 0 rgb(177,87,-16),
    8.5px 21px 0 #fad348;
}
.first-line span:nth-child(5){
  text-shadow:
    0px 6px 0 rgb(187,97,-6),
    0px 7px 0 rgb(186,96,-7),
    0px 8px 0 rgb(185,95,-8),
    0px 9px 0 rgb(185,95,-8),
    0px 10px 0 rgb(184,94,-9),
    0px 11px 0 rgb(183,93,-10),
    0px 12px 0 rgb(182,92,-11),
    0px 13px 0 rgb(181,91,-12),
    0px 14px 0 rgb(180,90,-13),
    0px 15px 0 rgb(179,89,-14),
    0px 16px 0 rgb(178,88,-15),
    0px 17px 0 rgb(177,87,-16),
    0px 18px 0 rgb(176,86,-17),
    0px 19px 0 rgb(175,85,-18),
    0px 20px 0 rgb(174,84,-19),
    0px 21px 0 #fad348;
  position: relative;
  z-index: 4
}


.first-line span:nth-child(6){
  text-shadow:0px 0px 0 rgb(192,102,-1),
    -1px 5px 0 rgb(190,100,-3),
    -1.5px 6px 0 rgb(190,100,-3),
    -2px 7px 0 rgb(188,98,-5),
    -2.5px 8px 0 rgb(188,98,-5),
    -3px 9px 0 rgb(186,96,-7),
    -3.5px 10px 0 rgb(186,96,-7),
    -4px 11px 0 rgb(185,95,-8),
    -4.5px 12px 0 rgb(185,95,-8),
    -5px 13px 0 rgb(183,93,-10),
    -5.5px 14px 0 rgb(183,93,-10),
    -6px 15px 0 rgb(181,91,-12),
    -6.5px 16px 0 rgb(181,91,-12),
    -7px 17px 0 rgb(179,89,-14),
    -7.5px 18px 0 rgb(179,89,-14),
    -8px 19px 0 rgb(177,87,-16),
    -8.5px 20px 0 rgb(177,87,-16),
    -8.5px 21px 0 #fad348;
 position: relative;
 z-index: 3
}

.first-line span:nth-child(7){
 text-shadow:0px 0px 0 rgb(192,102,-1),
   -1px 5px 0 rgb(191,101,-2),
   -2px 6px 0 rgb(189,99,-4),
   -3px 7px 0 rgb(188,98,-5),
   -4px 8px 0 rgb(186,96,-7),
   -5px 9px 0 rgb(185,95,-8),
   -6px 10px 0 rgb(183,93,-10),
   -7px 11px 0 rgb(181,91,-12),
   -8px 12px 0 rgb(180,90,-13),
   -9px 13px 0 rgb(178,88,-15),
   -10px 14px 0 rgb(177,87,-16),
   -11px 15px 0 rgb(175,85,-18),
   -12px 16px 0 rgb(173,83,-20),
   -13px 17px 0 rgb(173,82,-22),
   -14px 18px 0 rgb(173,82,-22),
   -15px 19px 0 rgb(173,82,-22),
   -16px 20px 0 rgb(173,82,-22),
   -16px 21px 0 #fad348;;
 position: relative;
 z-index: 3
}
.first-line span:nth-child(8){
  text-shadow:0px 0px 0 rgb(193,103,0),
    -1px 5px 0 rgb(192,102,-1),
    -2px 6px 0 rgb(190,100,-3),
    -3px 7px 0 rgb(189,99,-4),
    -4px 8px 0 rgb(188,98,-5),
    -5px 9px 0 rgb(187,97,-6),
    -6px 10px 0 rgb(186,96,-7),
    -7px 11px 0 rgb(185,95,-8),
    -8px 12px 0 rgb(183,93,-10),
    -9px 13px 0 rgb(182,92,-11),
    -10px 14px 0 rgb(181,91,-12),
    -11px 15px 0 rgb(180,90,-13),
    -12px 16px 0 rgb(179,89,-14),
    -13px 17px 0 rgb(177,87,-16),
    -14px 18px 0 rgb(176,86,-17),
    -15px 19px 0 rgb(175,85,-18),
    -16px 20px 0 rgb(174,84,-19),
    -16px 21px 0 #fad348;
  position: relative;
 z-index: 2
}

.first-line span:nth-child(9){
  text-shadow:0px 0px 0 rgb(193,103,0),
    -1px 1px 0 rgb(192,102,-1),
    -2px 2px 0 rgb(191,101,-2),
    -3px 3px 0 rgb(190,100,-3),
    -4px 4px 0 rgb(189,99,-4),
    -5px 5px 0 rgb(188,98,-5),
    -6px 6px 0 rgb(187,97,-6),
    -7px 7px 0 rgb(186,96,-7),
    -8px 8px 0 rgb(185,95,-8),
    -9px 9px 0 rgb(185,95,-8),
    -10px 10px 0 rgb(184,94,-9),
    -11px 11px 0 rgb(183,93,-10),
    -12px 12px 0 rgb(182,92,-11),
    -13px 13px 0 rgb(181,91,-12),
    -14px 14px 0 rgb(180,90,-13),
    -15px 15px 0 rgb(179,89,-14),
    -16px 16px 0 rgb(178,88,-15),
    -17px 17px 0 rgb(177,87,-16),
    -18px 18px 0 rgb(176,86,-17),
    -19px 19px 0 rgb(175,85,-18),
    -20px 20px 0 rgb(174,84,-19),
    -20px 21px 0 #fad348;
 position: relative;
 z-index: 1
}
.second-line span:nth-child(1){
  text-shadow:0px 0px 0 rgb(193,103,0),
    1px 0px 0 rgb(192,102,-1),
    2px 0px 0 rgb(191,101,-2),
    3px 0px 0 rgb(190,100,-3),
    4px 0px 0 rgb(189,99,-4),
    5px 0px 0 rgb(188,98,-5),
    6px 0px 0 rgb(187,97,-6),
    7px 0px 0 rgb(186,96,-7),
    8px 0px 0 rgb(185,95,-8),
    9px 0px 0 rgb(185,95,-8),
    10px 0px 0 rgb(184,94,-9),
    11px 0px 0 rgb(183,93,-10),
    12px 0px 0 rgb(182,92,-11),
    13px 0px 0 rgb(181,91,-12),
    14px 0px 0 rgb(180,90,-13),
    15px 0px 0 rgb(179,89,-14),
    16px 0px 0 rgb(178,88,-15),
    17px 0px 0 rgb(177,87,-16),
    18px 0px 0 rgb(176,86,-17),
    19px 0px 0 rgb(175,85,-18),
    20px 0px 0 rgb(174,84,-19),
    21px 0px 0 #fad348;
  font-size: 140px
}
.second-line span:nth-child(2){
  text-shadow:0px 0px 0 rgb(193,103,0),
    1px 0px 0 rgb(191,101,-2),
    2px 0px 0 rgb(190,100,-3),
    3px 0px 0 rgb(189,99,-4),
    4px 0px 0 rgb(187,97,-6),
    5px 0px 0 rgb(186,96,-7),
    6px 0px 0 rgb(185,95,-8),
    7px 0px 0 rgb(183,93,-10),
    8px 0px 0 rgb(182,92,-11),
    9px 0px 0 rgb(180,90,-13),
    10px 0px 0 rgb(179,89,-14),
    11px 0px 0 rgb(178,88,-15),
    12px 0px 0 rgb(176,86,-17),
    13px 0px 0 rgb(175,85,-18),
    14px 0px 0 rgb(174,84,-19),
    15px 0px 0 #fad348;
  font-size: 140px
}
.second-line span:nth-child(3){
  text-shadow:0px 0px 0 rgb(192,102,-1),
    1px 0px 0 rgb(190,100,-3),
    2px 0px 0 rgb(188,98,-5),
    3px 0px 0 rgb(186,96,-7),
    4px 0px 0 rgb(185,95,-8),
    5px 0px 0 rgb(183,93,-10),
    6px 0px 0 rgb(181,91,-12),
    7px 0px 0 rgb(179,89,-14),
    8px 0px 0 rgb(177,87,-16),
    9px 0px 0 rgb(175,85,-18),
    10px 0px 0 rgb(173,83,-20),
    11px 0px 0 #fad348;
  font-size: 140px
}
.second-line span:nth-child(4){
  text-shadow:0px 0px 0 rgb(190,100,-3),
    1px 0px 0 rgb(186,96,-7),
    2px 0px 0 rgb(183,93,-10),
    3px 0px 0 rgb(179,89,-14),
    4px 0px 0 rgb(175,85,-18),
    5px 0px 0 rgb(171,81,-22),
    6px 0px 0 #fad348;
  position: relative;
  z-index: 4;
  font-size: 140px
}
.second-line span:nth-child(5){
  text-shadow:0px 0px 0 rgb(192,102,-1),
    -1px 0px 0 rgb(190,100,-3),
    -2px 0px 0 rgb(188,98,-5),
    -3px 0px 0 rgb(186,96,-7),
    -4px 0px 0 rgb(185,95,-8),
    -5px 0px 0 rgb(183,93,-10),
    -6px 0px 0 rgb(181,91,-12),
    -7px 0px 0 rgb(179,89,-14),
    -8px 0px 0 rgb(177,87,-16),
    -9px 0px 0 rgb(175,85,-18),
    -10px 0px 0 rgb(173,83,-20),
    -11px 0px 0 #fad348;
  position: relative;
  z-index: 3;
  font-size: 140px
}
.second-line span:nth-child(6){
  text-shadow:0px 0px 0 rgb(193,103,0),
    -1px 0px 0 rgb(191,101,-2),
    -2px 0px 0 rgb(190,100,-3),
    -3px 0px 0 rgb(189,99,-4),
    -4px 0px 0 rgb(187,97,-6),
    -5px 0px 0 rgb(186,96,-7),
    -6px 0px 0 rgb(185,95,-8),
    -7px 0px 0 rgb(183,93,-10),
    -8px 0px 0 rgb(182,92,-11),
    -9px 0px 0 rgb(180,90,-13),
    -10px 0px 0 rgb(179,89,-14),
    -11px 0px 0 rgb(178,88,-15),
    -12px 0px 0 rgb(176,86,-17),
    -13px 0px 0 rgb(175,85,-18),
    -14px 0px 0 rgb(174,84,-19),
    -15px 0px 0 #fad348;
  position: relative;
  z-index: 2;
  font-size: 140px
}
.second-line span:nth-child(7){
  text-shadow:0px 0px 0 rgb(193,103,0),
    -1px 0px 0 rgb(192,102,-1),
    -2px 0px 0 rgb(191,101,-2),
    -3px 0px 0 rgb(190,100,-3),
    -4px 0px 0 rgb(189,99,-4),
    -5px 0px 0 rgb(188,98,-5),
    -6px 0px 0 rgb(187,97,-6),
    -7px 0px 0 rgb(186,96,-7),
    -8px 0px 0 rgb(185,95,-8),
    -9px 0px 0 rgb(185,95,-8),
    -10px 0px 0 rgb(184,94,-9),
    -11px 0px 0 rgb(183,93,-10),
    -12px 0px 0 rgb(182,92,-11),
    -13px 0px 0 rgb(181,91,-12),
    -14px 0px 0 rgb(180,90,-13),
    -15px 0px 0 rgb(179,89,-14),
    -16px 0px 0 rgb(178,88,-15),
    -17px 0px 0 rgb(177,87,-16),
    -18px 0px 0 rgb(176,86,-17),
    -19px 0px 0 rgb(175,85,-18),
    -20px 0px 0 rgb(174,84,-19),
    -21px 0px 0 #fad348;
  position: relative;
  z-index: 1;
  font-size: 140px
}
