/*общие стили внутренних страниц*/
.pages-white-block {
    margin: 50px 0;
    align-items: center;
}
main .flex {
    /*margin:50px auto;*/
}
main .flex>div {
    width:50%;
    /*margin:50px 0;*/
}
.main-p {
    padding-top: 30px;
}
.flex .text {
    color: #6e7179;
    font-size: 15px;
    line-height: 25px;
}
.flex .img {
    overflow: hidden;
}
.flex .img img {

}
h1 {
    font-family: HelveticaNeueCyr-Medium;
    font-size: 41px;
    margin: 0 auto;
    text-align: center;
    color: #3b3b3b;
    margin-top: -75px;
}

.flex .text.right{
    padding-left: 50px;
}
.flex .text.left{
    padding-right: 50px;
}
.background {
    margin: 200px 0 0;
}
/*.menu-wrapper .menu ul {*/
    /*margin-left:150px;*/
/*}*/
/*about us*/
.about-us-wrapper h4 {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 20px;
    line-height: 33px;
    color:#5b606b;
    text-align: left;
    margin-top: 0;
}
.about-us-wrapper p, .about-us-wrapper li {
    /*font-family: 'HelveticaNeueCyr-Roman';*/
    color:#6e7179;
    font-size: 15px;
    line-height: 25px;
}
.about-us-wrapper .main-p {
    max-width: 600px;
    font-size: 20px;
    margin: 0 auto;
    color:#7c8089;
    line-height: 33px;
    font-family: 'HelveticaNeueCyr-Roman';
    text-align: center;
}
.about-us-wrapper .main-p:first-of-type {
    max-width: 700px;
    margin: -20px auto 0;
}
.about-us-wrapper li {
    line-height: 29px;
    text-align: left;
}
.about-us-wrapper .about-callcenter li{
    width:100%;
    position: relative;
}
.about-us-wrapper .about-callcenter h1{
    margin-bottom: 40px;
    margin-top: -70px;
}
.about-us-wrapper .img {
    max-width: 540px;
    max-height: 325px;
    overflow: hidden;
    border-radius: 10px;
}
.about-us-wrapper .img img{
    width:100%;
    /*height: 100%;*/
}
header {
    color:white;
    position: relative;
    z-index: 5;
    min-height: 380px;
}
.menu-wrapper {
    padding:20px 30px 0;
}
.menu-wrapper .socials {
    margin-right: 0;
}
.backr-1 {
    position: absolute;
    width: 100%;
    height: 370px;
    background: url(../images/pages-backgr-1.png) center center no-repeat;
}
/*.backgr-2 {*/
    /*padding: 250px 0 260px;*/
    /*!* margin-top: -342px; *!*/
    /*!* position: absolute; *!*/
    /*width: 100%;*/
    /*!* height: 1150px; *!*/
    /*background: url(../images/backgr-2.png);*/
    /*!* background-size: cover; *!*/
/*}*/
.about-us-wrapper .menu-wrapper .menu ul {
    margin-left: 0px;
}
.menu-wrapper .menu ul li a {
    padding:6px 25px 4px;
}
.circle-wrapper {
    left: -17px;
    top: 101px;
    width:300px;
    height:300px;
    box-sizing: border-box;
}
.circle-wrapper .icon {
    background: linear-gradient(to right, #de671f, #f6a424);
}

.small-circle {
    position: absolute;
    background: white;
    z-index: 3;
    border-radius: 50%;
}
.small-circle.biggest {
    display: none;
}
.small-circle.big {
    width:20px;
    height:20px;
    top:32px;
    left:45px;
}
.small-circle.normal {
    width:12px;
    height:12px;
    top: 90px;
    left: 250px;
}
.small-circle.small {
    width:5px;
    height:5px;
    top: 110px;
    left: 7px;;
}
.border-1 {
    border: 20px solid rgba(255, 255, 255, 0.22);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:91%;
    height:91%;
}
.border-2 {
    border: 25px solid rgba(255, 255, 255, 0.74);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
}
.circle-wrapper .icon {
    position: absolute;
    top:47%;
    left:50%;
    transform: translate(-50%, -50%);
    width:50%;
    height:50%;
}
.circle-wrapper .icon:after {
    position: absolute;
    content:"";
    top:70%;
    left:80%;
    transform: translate(-50%, -50%);
    height:100%;
    width:100%;
    background: url("../images/circle-woman.png");
    background-repeat: no-repeat;

}

/*.advantage-2 {*/
    /*position: relative;*/
/*}*/
/*.advantage-2 .backgr-2 {*/
    /*height: 1200px;*/
    /*margin-top: -357px;*/
/*}*/

.about-us-wrapper .advantages {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-us-wrapper .advantages .advantage {
    width:100%;
    text-align: center;
}
.advantages .advantage p:first-of-type {
    margin-top: 0;
}
.about-us-wrapper .advantages .advantage-2 {
    margin-top: -90px;
    padding: 250px 0 250px;
    width: 100%;
    background: url(../images/backgr-2.png) center center no-repeat;
}
.about-us-wrapper .advantages .advantage-3 {
    margin-top: -50px;

}
.about-us-wrapper .advantages .advantage h3 {
    margin: 40px 0 20px;
    font-size: 25px;
    line-height: 71px;
}
.about-us-wrapper .advantages .advantage-2 h3 {
    padding-top: 30px;
}
.about-us-wrapper .advantages .advantage.advantage-2:before {
    top: 310px;
}
.about-us-wrapper .advantages .advantage.advantage-3:before {
    top:-15px;
}
.about-us-wrapper .advantages>li{
    /*padding:100px 0;*/
}
.about-us-wrapper .advantages>li:first-of-type {
    padding: 20px 0 0;
}
.advantage.advantage-1 .main-p {
    max-width: 800px;
}
.advantage.advantage-1 .main-p {
    font-size: 20px;
    line-height: 33px;
    padding-top: 20px;
    font-family: 'HelveticaNeueCyr-Roman';
}
.about-us-wrapper .advantage.advantage-1 ul{
    /*display: flex;*/
}
.about-us-wrapper .advantage.advantage-1 ul li{
    display: inline-block;
    width: 150px!important;
    margin: 40px 0px;
    text-align: center;
}
.advantages .advantage.advantage-1 ul li:before {
    top: -20px;
    left: 50%;
}
.advantages .advantage:before {
    top: 45px;
    left: 50%;
    width: 50px;
    height: 70px;
    z-index: 2;
}
.about-us, .our-advantages, .new-technologies {
   margin: 0px 0;
    align-items: flex-start;
}
.new-technologies ul {
    padding-left:40px;
}
.new-technologies li, .tabs .right li {
    position: relative;
}
.new-technologies li:before, .tabs .right li:before {
    position: absolute;
    content: "";
    width:10px;
    height:10px;
    background: url("../images/about-list.png");
    left: -30px;
    top: 13px;
}
.about-us div, .our-advantages div, .new-technologies div{
    width:50%;
}
.about-us .text, .new-technologies .text{
    text-align: left;
    padding-left: 40px;
}
.our-advantages .text {
    text-align: left;
    padding-right: 40px;
}

/*footer {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*margin-top: -30px;*/
    /*padding-top: 300px;*/
    /*padding-bottom: 20px;*/
    /*background: url(../images/backgr-6.png) center center no-repeat;*/
/*}*/
footer {
    width: 100%;
    padding: 340px 0 40px;
    background-size: cover;
}
footer .menu-wrapper {
    padding: 0;
}
footer  .backgr-6 {
    padding: 0;
    margin: 0;
}
.menu {
    margin-left: 70px;
}

footer .copyright {
    padding: 0;
    padding-left: 30px;
}
footer .menu-wrapper .socials {
    margin-right: 20px;
}


/*about us*/

/*clients*/
.clients-wrapper {

}

.clients-wrapper .circle-wrapper .icon:after {
    top: 75%;
    left: 75%;
    background: url(../images/circle-clients.png);
    background-repeat: no-repeat;
}
.clients-wrappe .about-clients .main-p {
    padding-top: 30px;
}
.clients-block .flex{
    align-items: center;
    box-sizing: border-box;
}
.clients-block h4 {
    font-size: 25px;
    line-height: 35px;
    color: black;
    margin: 0 0 50px;
}
.clients-block .text p {
    font-size: 14px;
    line-height: 25px;
    font-family: 'HelveticaNeueCyr-Roman';
}
.clients-wrapper footer .backgr-6 {
    position: absolute;
    /*top: -314px;*/
    /*width: 100%;*/
    /*height: 448px;*/
    background: url(../images/backgr-6.png) center center no-repeat;
    background-size: cover;
}
.clients-wrapper .flex .img {
    max-width: 540px;
    max-height: 270px;
}
.clients-wrapper .flex .img img{
    width:100%;
}
.clients-wrapper .text {
    max-width: 500px;
}
/*.clients-wrapper .backgr-2 {*/
    /*!*margin-top: -358px;*!*/
    /*!*position: absolute;*!*/
    /*width: 100%;*/
    /*!*height: 992px;*!*/
    /*background: url(../images/client-page-backgr.png);*/
    /*!*background-size: cover;*!*/
/*}*/
/*.background {*/
    /*padding: 360px 0 360px;*/
    /*margin-top: -70px;*/
    /*width: 100%;*/
    /*background: url(../images/client-page-backgr.png);*/
/*}*/
.ZdravDar {
    margin:50px auto;
}
.MPLP {
    /*margin: 320px auto 240px;*/
    margin-top: -20px;
}
.client-form-wrapper {
    padding: 350px 0 380px;
    margin-top: -150px;
    width: 100%;
    background: url(../images/form-page-backgr.png) center center no-repeat;
}
.client-form-wrapper h5 {
    font-size: 25px;
    line-height: 71px;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: 'HelveticaNeueCyr-Medium';
}
.client-form-wrapper p {
    font-size: 20px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.49);
    text-align: center;
    margin-bottom: 60px;
    font-family: 'HelveticaNeueCyr-Roman';
}
.client-form-wrapper p span{
    display: block;
}

.clients-wrapper footer {
    margin-top: -446px;
}
/*clients*/

/*services*/
.services-wrapper .circle-wrapper .icon:after {
    top: 78%;
    left: 80%;
    background: url(../images/circle-services.png);
    background-repeat: no-repeat;
}
.services-wrapper .service {
    border-radius: 50%;
    width: 290px;
    height: 290px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
}
/*.services-wrapper .backgr-2 {*/
    /*margin-top: -357px;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 950px;*/
    /*background: url(../images/gray-pages-backgr.png);*/
    /*background-size: cover;*/
/*}*/
.about-services h4 {
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 25px;
    line-height: 70px;
}
.about-services p {
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 15px;
    line-height: 25px;
    font-family: 'HelveticaNeueCyr-Roman';
}
.about-services .main-p {
    max-width: 400px;
    font-size: 20px;
    line-height: 33px;
}
.services-wrapper main .flex {
    /*margin:50px auto;*/
}
.services-wrapper .background {
    width: 100%;
    padding: 350px 0;
    margin-top: -100px;
    background: url(../images/gray-pages-backgr.png) center center no-repeat;
}
.service.gray .small-circle {
    background: #f3f4f7;
}
.service.white .small-circle {
    background: white;
}
.service .small-circle.biggest {
    display: block;
    width: 25px;
    height: 25px;
    top: 40px;
    left: 315px;
    right: 0;
}
.service .small-circle.big {
    width: 15px;
    height: 15px;
    top: -40px;
}
.service .small-circle.normal {
    width: 12px;
    height: 12px;
    top: 210px;
    left: -40px;
}
.service .small-circle.small {
    width: 10px;
    height: 10px;
    top: 220px;
    left: 320px;
}
.services-wrapper .service.gray {
    border: 20px solid #f3f4f7;
}
.services-wrapper .service.white {
    border: 20px solid white;
}
.service .img-circle {
    border-radius: 50%;
    background: #ffffff;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.08);
}
.service:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 10px;
    background: url(../images/services-circle-backgr-pages.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.service .img-circle:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    background: url(../images/services-icon-pages.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
.service .img-circle img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.services-wrapper .services-block:last-of-type {
    margin-bottom: 250px;
    margin-top: -145px;
}
.services-wrapper .services-block .flex {
    align-items: center;
}
.services-wrapper footer {
    margin-top: -319px;
}

/*services*/

/*comments*/
.reviews-wrapper .circle-wrapper .icon:after {
    top: 79%;
    left: 78%;
    background: url(../images/circle-comment.png);
    background-repeat: no-repeat;
}
.about-reviews .flex {
    flex-wrap: wrap;
    align-items: flex-end;
}
.about-reviews .review {
    width:33%;
}
.about-reviews h3 {
    position: relative;
    z-index: 3;
    font-size: 30px;
    line-height: 70px;
    color:#cc4012;
    text-align: center;
    font-family: 'HelveticaNeueCyr-Medium';
}
.reviews-employee-wrapper {
    position: relative;
    margin-top: 250px;
}
.reviews-employee-wrapper .backgr, .contacts-wrapper .backgr{
    top: -313px;
    position: absolute;
    width: 100%;
    height: 1293px;
    background: url(../images/comment-pages-backgr.png);
    background-size: cover;
}

.reviews-wrapper footer .menu-wrapper {
    padding:20px;
}
.reviews-wrapper footer {
    padding: 0;
    margin-top: 60px;
}
/*comments*/

/*contacts*/
.contacts-wrapper .circle-wrapper .icon:after {
    top: 77%;
    left: 77%;
    background: url(../images/circle-contacts.png);
    background-repeat: no-repeat;
}
.contacts-wrapper .contacts-block {
    margin-top: 0;
}
.contacts-wrapper .contacts-content .phones, .contacts-content .map {
    width:100%;
    align-items: flex-start;
    padding:10px;
    box-sizing: border-box;
}
.contacts-wrapper .contacts-content .phones span{
    color:black!important;
}
.contacts-wrapper main .flex>div {
    width:25%;
}
.contacts-wrapper .contacts-content .phones .phone-block {
    width:100%;
}
.contacts-wrapper .contacts-content .phones .phone-block {
    padding:10px;
    box-sizing: border-box;
}
.contacts-wrapper .contacts-block a.link {
    color:black;
    margin:30px auto 50px;
}
.contacts-wrapper .form {
    position: relative;
    z-index: 3;
    margin-top: 200px;
}
.contacts-wrapper .backgr {
    top: -713px;
    height: 833px;
}
/*contacts*/

/*career*/

.career-wrapper .circle-wrapper .icon:after {
    top: 75%;
    left: 76%;
    background: url(../images/circle-career.png);
    background-repeat: no-repeat;
}
.about-career .vacancies {
    margin:0;
    padding: 0;
    border: none;
}
.about-career .vacancies .flex {
    flex-wrap: wrap;
}
/*.vacancy-list {*/
    /*position: relative;*/
    /*z-index: 1;*/
/*}*/
/*.vacancy-list, .vacancy-list li {*/
    /*!*margin: 0;*!*/
    /*!*padding: 0;*!*/
/*}*/
/*.vacancy-list li {*/
    /*!*display: inline-block;*!*/
    /*!*border: 1px solid #aaa;*!*/
    /*padding: 5px 10px;*/
    /*cursor: pointer;*/
/*}*/
/*.vacancy-list li div,*/
/*.vacancy-list:hover li:not(:hover) div {*/
    /*position: absolute;*/
    /*top: 70px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*box-sizing: border-box;*/
    /*margin-top: -1px;*/
    /*!*border: 1px solid #aaa;*!*/
    /*background: #fff;*/
    /*z-index: 5;*/
    /*cursor: default;*/
    /*visibility: hidden;*/
    /*box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.38)*/
/*}*/
/*.vacancy-list li:hover div,*/
/*.vacancy-list li:focus div {*/
    /*visibility: visible;*/

/*}*/
/*.vacancy-list li:hover{*/
    /*!*box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.38);*!*/
    /*!*background: #f1f1f1;*!*/
/*}*/
/*.vacancy-list li:hover>h3:hover {*/
    /*box-shadow: -1px -10px 20px rgba(0, 0, 0, 0.38);*/
    /*background: white;*/
    /*padding: 10px 0 20px;*/
    /*z-index: 7;*/
    /*position: relative;*/
/*}*/
/*.vacancy-list li:focus{*/
    /*!*background: #aaa;*!*/
/*}*/

/* Tabs */
/*#tabs {border: 1px solid #ccc; border-radius: 8px}*/
/*#tabs .tabs {overflow: hidden; border-bottom: 1px solid #ccc}*/
/*#tabs .tabs li {float: left;}*/
/*#tabs .tabs li + li {border-left: 1px solid #ccc}*/
/*#tabs .tabs li a {display: block; padding: 8px 16px; font-size: 18px; line-height: 21px; color: #999;}*/

/*#tabs .tabs li a.active*/
/*!*,#tabs .tabs li a:hover *!*/
/*{*/
    /*color: #369;*/
/*}*/
/*#tabs .tabs-content {*/
    /*box-shadow: -1px -10px 20px rgba(0, 0, 0, 0.38);*/
    /*position: absolute;*/
    /*top:70px;*/
    /*width:100%;*/
    /*background: white;*/
    /*z-index: 10;*/
    /*min-height: 700px;*/
    /*max-width: 1100px;*/
    /*!*display: none;*!*/
/*}*/
/*.tabs-content.show {*/
    /*display: block;*/
/*}*/
/*#tabs {*/
    /*position: relative;*/
/*}*/
/*#tabs .tabs-content {*/
    /*padding: 20px; font-size: 16px; line-height: 21px;*/

/*}*/
.tab-content {
    display: none;
}
.tab-content.show {
    display: block;
}
.career-wrapper .slider-wrapper {
    margin-top:190px;
}
.career-wrapper .slider-wrapper h2 {
    padding-bottom: 0;
}
.career-wrapper .slider-wrapper .backgr-2 {
    margin-top: -471px;
    height: 1550px;
}
.career-wrapper h2 {
    color: #cc4012;
    font-size: 30px;
    z-index: 2;
    margin:0;
    padding: 40px 0;
    position: relative;
}

.career-slider-wrapper {
    text-align: center;
    position: relative;
    margin: 70px auto;
}
.career-slider-wrapper .block-images {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
.career-slider-wrapper .block-images .about-city {
    position: absolute;
    width: 200px;
    text-align: left;
    top:0;
    right:0;
    padding:10px 5px;
    box-sizing: border-box;
}
.career-slider-wrapper .block-images .about-city span {
    display: block;
}
.career-slider-wrapper .block-images .about-city .city {
     font-size: 25px;
     font-family: 'HelveticaNeueCyr-Medium';
 }
.career-slider-wrapper .block-images .about-city .quantity {
    color: #5b606b;
    font-size: 20px;
    line-height: 33px;
    font-family: 'HelveticaNeueCyr-Roman';
}
.career-wrapper .slick-dots {
    position: absolute;
    bottom: -25px;
    right: 40px;
    top: 75px;
    display: block;
    width: 160px;
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
}
.career-wrapper .slick-dots li {
    width:auto;
    height: auto;
}
.career-wrapper .slick-dots li button:before {
    content:"";
}
.career-wrapper .slick-dots li button {
    content:"";
    background: white;
    border-radius: 50%;
    margin:10px 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.48);
}
.career-slider-wrapper .slick-prev, .career-slider-wrapper .slick-next {
    display: none!important;
}
.career-wrapper li.slick-active button {
    background: orange!important;
}
.career-wrapper .slick-slide img {
    padding: 10px;
}
.career-wrapper .main-p {
    margin-top:40px;
    z-index: 10;
    position: relative;
}
.career-wrapper .advantages-of-our-work {
    margin-top:150px;
    border:none;
    margin-bottom: 190px;
}
.career-wrapper .advantages-of-our-work>p {
    max-width: 390px;

}
/*ul {*/
/*}*/
/*ul li {*/
    /*display:inline-block;*/
    /*margin:0 20px;*/
    /*cursor:pointer;*/
/*}*/

ul li.active h3{
    box-shadow: -5px -10px 30px -10px rgba(0, 0, 0, 0.38);
    background: white;
    padding: 10px 20px 20px;
    z-index: 7;
    position: relative;
}
ul li.active:before {
    display: none;
}
/*.tabs {*/
/*}*/
#tabs_menu {
    position: relative;
}
.career-wrapper .wrapper-1100 {
    position: relative;
}
.tabs .info{
    display:none;
    width:500px;
    margin:0 auto;
    background: white;
}

.tabs .info.active{
    display:block;
    position: absolute;
    top: 70px;
    width: 100%;
    padding:40px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.38);
    color:#6e7179;
    z-index: 6;
}
.tabs .info.active div {
    display: inline-block;
    vertical-align: top;
}
.tabs .info.active .left{
    width:33%;
}
.tabs .info.active .left p{
    font-family: 'HelveticaNeueCyr-Roman';
    max-width: 300px;
    font-size: 20px;
    line-height: 33px;
    margin:0;
}
.tabs .info.active h5 {
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 16px;
    line-height: 25px;
    color: black;
    margin:10px 0;
}
.tabs .info.active .right p {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 15px;
    line-height: 25px;
}
.tabs .info.active .right li {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 15px;
    line-height: 32px;
    padding-left: 40px;
}
.tabs .right li:before {
    left:0;
}
.tabs .open-tab-form {
    color: #ffad00;
    padding:5px 0;
}
.tabs .right .fa-caret-up {
    display: none;
}
.open-tab-form.caret-toggle .fa-caret-up {
    display: inline-block;
}
.open-tab-form.caret-toggle .fa-caret-down {
    display: none;
}
.tabs .info.active .tab-form {
    display: none;
}
.tabs .info.active .tab-form.show-form {
    display: block;
}
.career-wrapper .main-p {
    z-index: 1;
}
.tab-form {
    width:100%;
}
.tab-form input, .tab-form .attachment {
    width:30%;
    margin: 0 1%;
    border:none;
    border-bottom: 1px solid #dadada;
    padding:20px 0;
    display: inline-block;
}
.tab-form input[type=file]{
    position: absolute;
    left: 20px;
    top: -5px;
    width: 30px;
    height: 30px;
    /*transform: scale(20);*/
    /*letter-spacing: 10em;     !* IE 9 fix *!*/
    /*-ms-transform: scale(20); !* IE 9 fix *!*/
    opacity: 0;
    cursor: pointer;
    z-index: 6;
}
.tab-form .attachment {
    border: none;
    padding-left: 70px;
    box-sizing: border-box;
    position: relative;
}
.tab-form .attachment:before {
    cursor: pointer;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/form_attach.png");
    background-repeat: no-repeat;
    left:30px;
}
.tab-form .attachment span{
    display: block;
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 15px;
    color: black;
}
.tab-form .attachment .format {
    color: #b6b6b6;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 13px;
    padding: 5px 0;
}
.tab-form input.button {
    border: none;
    padding:15px;
    margin:10px 0;
    box-sizing: border-box;
    width:210px;
    text-align: center;
    background: #ffd364;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr-Bold';
}
.tab-form input::-webkit-input-placeholder {color:black; font-size: 15px; font-family: 'HelveticaNeueCyr-Roman';}
.tab-form input::-moz-placeholder          {color:black; font-size: 15px; font-family: 'HelveticaNeueCyr-Roman';}/* Firefox 19+ */
.tab-form input:-moz-placeholder           {color:black; font-size: 15px; font-family: 'HelveticaNeueCyr-Roman';}/* Firefox 18- */
.tab-form input:-ms-input-placeholder      {color:black; font-size: 15px; font-family: 'HelveticaNeueCyr-Roman';}

.tabs .info.active.margin-260 {
    top: 260px;
}
.tabs .info.active.margin-450 {
    top: 450px;
}
.tabs .info.active.margin-2-1 {
    top: 450px;
}
.tabs .info.active.margin-640 {
    top: 640px;
}
.tabs .info.active.margin-820 {
    top: 820px;
}
.tabs .info.active.margin-1010 {
    top: 1010px;
}
.tabs .info.active.margin-1200 {
    top: 1200px;
}
.tabs .info.active.margin-1380 {
    top: 1380px;
}
.tabs .info.active.margin-1570 {
    top: 1570px;
}
.tabs .info.active.margin-1760 {
    top: 1760px;
}
.tabs .info.active.margin-1950 {
    top: 1950px;
}
.tabs .info.active.margin-2130 {
    top: 2130px;
}
.close-tab {
     display: none;
     width:50px;
     height:50px;
     position: absolute;
     top:0;
     right:0;
     cursor: pointer;

 }
.close-tab div{
    width:20px;
    height:2px;
    background: orange;
    transform: rotate(45deg);
    margin-top:20px;
}
.close-tab div:last-of-type{
    transform: rotate(-45deg);
    margin-top:-2px;
}
ul li.active .close-tab {
    display: block;
}
/*.tabs .info img{*/
    /*width:100%;*/
/*}*/

/*career*/
.sm-show {
    display: none;
}