@font-face {
  font-family: "HelveticaNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeueBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeueBold/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueBold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueBold/HelveticaNeueCyr-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeueMedium/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueMedium/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueMedium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueMedium/HelveticaNeueCyr-Medium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.popup-input::-webkit-input-placeholder {
  color: #999a9f;
  opacity: 1; }

.popup-input:-moz-placeholder {
  color: #767676;
  opacity: 1; }

.popup-input::-moz-placeholder {
  color: #767676;
  opacity: 1; }

.popup-input:-ms-input-placeholder {
  color: #767676;
  opacity: 1; }

.popup-input:focus:required:invalid, .popup-input:required:valid {
  color: #767676; }

.popup-input:focus:required:invalid {
  color: #767676; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "HelveticaNeue", sans-serif;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1320px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto; }

.btn {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #1d1d1d;
  color: #fefefe;
  font-family: "HelveticaNeueBold";
  font-size: 16px;
  padding: 0 37px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .btn:hover {
    background: #fc8250; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background: transparent; }

.subtitle {
  color: #111111;
  font-family: "HelveticaNeueBold";
  font-size: 48px;
  line-height: 0.92; }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #ffffff;
  padding: 30px 0;
  z-index: 2; }
  .header-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    .header-nav.active {
      opacity: 1;
      pointer-events: auto; }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-left: 90px; }
  .header-link {
    color: #000000;
    font-family: "HelveticaNeueMedium";
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    transition: color .5s ease; }
    .header-link:hover, .header-link.active {
      color: #fc8250; }
  .header-item {
    margin: 0 20px; }
  .header-select {
    border: none;
    border-right: 1px solid rgba(215, 216, 215, 0.5);
    height: 26px;
    width: 120px;
    padding-left: 25px;
    color: #000000;
    font-family: "HelveticaNeueMedium";
    font-size: 16px;
    margin-right: 30px; }
  .header-relative {
    position: relative; }
    .header-relative:before {
      position: absolute;
      content: '';
      border: 4px solid transparent;
      border-top: 4px solid rgba(176, 177, 176, 0.5);
      top: 50%;
      left: 0; }
    .header-relative_right {
      margin-right: 40px; }
      .header-relative_right:before {
        left: inherit;
        right: 0; }
  .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .header-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid rgba(137, 141, 142, 0.2);
    margin-right: 60px;
    position: relative;
    z-index: 2; }
    .header-btn-line {
      width: 26px;
      height: 2px;
      background: #000000;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .header-btn-line_top {
        top: 15px; }
      .header-btn-line_center {
        top: calc(50% - 1px); }
      .header-btn-line_bottom {
        bottom: 15px; }
    .header-btn.active .header-btn-line_center {
      opacity: 0; }
    .header-btn.active .header-btn-line_top {
      -webkit-transform: translateX(-50%) rotate(-225deg);
              transform: translateX(-50%) rotate(-225deg);
      top: 22px;
      width: 20px; }
    .header-btn.active .header-btn-line_bottom {
      -webkit-transform: translateX(-50%) rotate(225deg);
              transform: translateX(-50%) rotate(225deg);
      bottom: 22px;
      width: 20px; }
  .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px; }
  .header-logo {
    display: inline-block; }
    .header-logo-img {
      width: 175px; }
  .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-right-btn {
      margin-left: 40px; }
  .header-phone {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    margin-left: 30px; }

.first {
  margin-top: 110px;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 110px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .first-overlay {
    background: url(../img/main_bg.jpg) no-repeat center top 65%;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1; }
    .first-overlay:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 180px;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      left: 0;
      top: 0; }
  .first-title {
    color: #ffffff;
    font-family: "HelveticaNeueBold";
    font-size: 64px;
    line-height: 0.94;
    max-width: 400px; }
  .first-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.71;
    max-width: 430px;
    padding: 50px 10px 20px 10px; }

.second {
  padding: 45px 0 95px; }
  .second-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .second-select {
    border: none;
    border-bottom: 1px solid rgba(158, 159, 158, 0.21);
    height: 50px;
    color: #777777;
    font-family: "HelveticaNeueMedium";
    font-size: 18px;
    width: 230px; }
    .second-select_dark {
      color: #000000; }
  .second-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .second-text {
    color: #1d1d1d;
    font-size: 24px;
    letter-spacing: 0.5px; }
  .second-btn {
    padding: 0 40px; }
  .second-list {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .second-item {
    margin-right: 10px;
    position: relative;
    width: 100%; }
    .second-item:last-child {
      margin-right: 0; }
    .second-item:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(14, 14, 14, 0.5);
      left: 0;
      top: 0;
      opacity: 0;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease; }
    .second-item:hover .second-item-text {
      background: #fc8250; }
    .second-item:hover:before {
      opacity: 1; }
    .second-item-text {
      background: #0e0e0e;
      color: #ffffff;
      font-family: "HelveticaNeueBold";
      font-size: 16px;
      text-align: center;
      height: 60px;
      line-height: 60px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
      -webkit-transition: background-color .5s ease;
      transition: background-color .5s ease; }

.third {
  padding: 45px 0 95px; }
  .third-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .third-btn {
    padding: 0 32px; }
  .third-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .third-item {
    width: 20%;
    position: relative;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 25px;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
    overflow: visible; }
    .third-item:nth-child(even) {
      background-color: #f9f9f9; }
    .third-item:hover {
      background: #eeeeee; }
      .third-item:hover .third-link {
        opacity: 1;
        pointer-events: auto; }
    .third-item-img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .third-text {
    color: #434546;
    font-size: 14px; }
  .third-link {
    position: absolute;
    width: 190px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    pointer-events: none; }
  .third-list {
    margin-top: 80px; }

.fourth {
  padding: 45px 0 45px; }
  .fourth-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .fourth-item {
    width: calc(33.33% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 40px 10px 27px;
    border-left: 1px solid rgba(14, 14, 14, 0.1);
    margin-top: 80px;
    margin-right: 30px; }
    .fourth-item:nth-child(3n+3) {
      margin-right: 0; }
    .fourth-item-block {
      width: 40px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 25px; }
    .fourth-item-img {
      margin: 0 auto; }
    .fourth-item-text {
      color: #5e5e5e;
      font-family: "HelveticaNeueBold";
      font-size: 18px;
      line-height: 1.1; }
  .fourth-img {
    margin: 70px 0 0 -50px;
    max-width: 1341px; }

.fifth {
  padding: 45px 0 90px; }
  .fifth-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    margin-top: -10px; }
  .fifth-item {
    margin: 0 20px; }
    .fifth-item:first-child {
      margin-left: 0; }
    .fifth-item:last-child {
      margin-right: 0; }
    .fifth-item-link {
      color: #9e9f9e;
      font-family: "HelveticaNeueBold";
      font-size: 16px;
      text-decoration: none;
      display: inline-block; }
      .fifth-item-link:hover .fifth-item-text:before {
        opacity: 1; }
      .fifth-item-link:hover .fifth-item-text {
        color: #111111; }
      .fifth-item-link.active .fifth-item-text {
        color: #111111; }
      .fifth-item-link.active .fifth-item-text:before {
        opacity: 1; }
    .fifth-item-text {
      display: inline-block;
      position: relative;
      padding: 20px 0;
      -webkit-transition: color .5s ease;
      transition: color .5s ease; }
      .fifth-item-text:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #111111;
        left: 0;
        bottom: -1px;
        opacity: 0;
        -webkit-transition: opacity .5s ease;
        transition: opacity .5s ease; }
  .fifth-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 80px; }
    .fifth-gallery-item {
      width: 25%;
      position: relative; }
      .fifth-gallery-item:hover .fifth-gallery-overlay {
        opacity: 1; }
    .fifth-gallery-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(17, 17, 17, 0.4);
      opacity: 0;
      -webkit-transition: opacity .5s ease;
      transition: opacity .5s ease; }
      .fifth-gallery-overlay:before {
        content: '';
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
        background: #fc8250 url(../img/zoom.svg);
        background-repeat: no-repeat;
        background-size: 21px 21px;
        background-position: center; }

.sixth {
  padding: 45px 0 95px; }
  .sixth-btn {
    background: transparent;
    border: 2px solid #eeeeee;
    color: #9e9f9e; }
    .sixth-btn:hover {
      background: transparent;
      border-color: #111111;
      color: #111111; }
  .sixth-content {
    position: relative;
    margin-top: 50px; }
  .sixth-slider-item {
    outline: none; }
  .sixth-slider-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sixth-slider-btns {
    position: absolute;
    width: calc(100% + 240px);
    top: calc(50% - 25px);
    left: -120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: none; }
  .sixth-slider-btn {
    width: 80px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    pointer-events: auto;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease; }
    .sixth-slider-btn svg {
      width: 32px;
      height: 10px; }
      .sixth-slider-btn svg rect {
        -webkit-transition: fill .5s ease;
        transition: fill .5s ease; }
    .sixth-slider-btn:hover {
      background: #fc8250; }
      .sixth-slider-btn:hover svg rect {
        fill: #ffffff; }
  .sixth-right {
    width: 435px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden; }
  .sixth-left {
    padding: 75px 0 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    background-color: #f9f9f9; }
    .sixth-left-first {
      padding-left: 60px;
      width: 430px;
      height: 500px;
      overflow: auto;
      position: relative; }
    .sixth-left-second {
      padding: 0 40px;
      width: 360px;
      height: 500px;
      overflow: auto;
      position: relative; }
    .sixth-left-title {
      color: #383838;
      font-family: "HelveticaNeueBold";
      font-size: 24px;
      margin-bottom: 5px; }
    .sixth-left-date {
      color: #898d8e;
      font-size: 14px;
      margin-bottom: 30px; }
    .sixth-left-text {
      color: #3c3c3c;
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 10px; }
    .sixth-left-description {
      color: #898d8e;
      font-size: 14px; }
    .sixth-left-subtitle {
      color: #383838;
      font-family: "HelveticaNeueBold";
      font-size: 18px;
      margin: 35px 0 20px; }
    .sixth-left-link {
      display: inline-block;
      color: #3b3b3b;
      font-size: 14px;
      text-decoration: none; }
      .sixth-left-link:hover {
        text-decoration: underline; }
    .sixth-left-item {
      margin-top: 12px; }

.seventh {
  padding: 45px 0 0; }
  .seventh-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .seventh-item {
    width: 25%;
    text-align: center;
    font-size: 0; }
    .seventh-item_big {
      width: 50%; }
  .seventh-text {
    color: #898d8e;
    font-size: 14px;
    margin-top: 20px; }
  .seventh-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
    .seventh-social-link {
      margin: 0 15px; }
      .seventh-social-link:hover .soc {
        fill: #fc8250; }

.mCustomScrollBox {
  position: static; }

.mCSB_scrollTools {
  left: -6px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background: rgba(17, 17, 17, 0.1); }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
  background: #111111; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #111111; }

.soc {
  fill: #9e9f9e;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease; }

.map {
  width: 100%;
  height: 600px; }

.footer {
  background: #e5e5e5;
  padding: 55px 0 60px; }
  .footer-future {
    width: 126px;
    margin: 10px 0 0 -4px; }
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-item {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-item:last-child {
      margin-right: 0; }
  .footer-logo {
    display: inline-block;
    width: 175px;
    margin-bottom: 30px; }
  .footer-phone {
    color: #383838;
    font-size: 14px;
    padding: 5px 0 5px 25px;
    background: url(../img/phone.svg) no-repeat left center;
    background-size: 14px 14px;
    text-decoration: none; }
  .footer-text {
    color: #868686;
    font-size: 13px;
    margin-top: 15px; }
    .footer-text_first {
      margin-top: 45px; }
  .footer-title {
    color: #383838;
    font-family: "HelveticaNeueBold";
    font-size: 18px; }
  .footer-list {
    margin-top: 15px; }
    .footer-list-item {
      padding: 7px 0; }
    .footer-list-link {
      color: #3a3a3a;
      font-size: 14px;
      text-decoration: none; }
      .footer-list-link:hover {
        text-decoration: underline; }

.header-hide {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
  pointer-events: auto; }
  .header-hide.hide {
    opacity: 0;
    pointer-events: none; }

@-webkit-keyframes show-img {
  0% {
    -webkit-transform: translateY(100%) scale(1.3);
            transform: translateY(100%) scale(1.3); }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); } }

@keyframes show-img {
  0% {
    -webkit-transform: translateY(100%) scale(1.3);
            transform: translateY(100%) scale(1.3); }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); } }

.show-img {
  -webkit-animation-name: show-img;
          animation-name: show-img;
  -webkit-animation-timing-function: cubic-bezier(0.89, 0.09, 0.9, 0.49);
          animation-timing-function: cubic-bezier(0.89, 0.09, 0.9, 0.49); }

@-webkit-keyframes goUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes goUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.goUp {
  -webkit-animation-name: goUp;
          animation-name: goUp; }

.wow {
  visibility: hidden; }

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(17, 17, 17, 0.9);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease; }
  .popup.active {
    opacity: 1;
    pointer-events: auto; }
  .popup-container {
    background: #ffffff;
    max-width: 520px;
    margin: 20px 10px;
    padding: 60px; }
  .popup-title {
    color: #111111;
    font-family: "HelveticaNeueBold";
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px; }
  .popup-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(158, 159, 158, 0.21);
    color: #767676;
    font-family: "HelveticaNeueMedium";
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px; }
  .popup-relative {
    width: 100%;
    margin: 0 0 40px 0; }
    .popup-relative .second-select {
      width: 100%; }
  .popup-close {
    width: 50px;
    height: 50px;
    background: #1d1d1d url(../img/close.svg) no-repeat center;
    background-size: 14px 14px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer; }

img.sixth-right-img_mob, .sixth-btn_mob {
  display: none; }
.header-nav-bottom {
  display: none;
}
.footer-item-top, .footer-item-block, .footer-item-absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1530px) {
  .sixth-slider-btns {
    width: calc(100% + 160px);
    left: -80px; } }

@media only screen and (max-width: 1439px) {
  .sixth-slider-btns {
    width: 100%;
    left: 0;
    top: inherit;
    bottom: 0; } }

@media only screen and (max-width: 1340px) {
  .fourth-img {
    width: 100%;
    margin-left: 0; } }

@media only screen and (max-width: 1200px) {
  .header-right-btn {
    margin-left: 20px; }
  .header-select {
    margin-right: 10px; }
  .second-select {
    width: 150px; }
  .subtitle {
    font-size: 42px; }
  .second, .third, .fifth, .sixth {
    padding-bottom: 35px; }
  .sixth-left-first {
    width: 360px;
    padding-left: 40px; }
  .sixth-left-second {
    width: 300px; }
  .map {
    height: 400px; } }

@media only screen and (max-width: 1023px) {
  .header-right {
    display: none; }
  .header-left {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .container {
    padding: 0 30px; }
  .header-btn {
    margin-right: 0; }
  .second-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .second-right {
    width: 100%;
    margin-top: 20px; }
  .second-btn {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .second-select {
    width: 100%; }
  .header-relative_right {
    width: 100%; }
  .second-item {
    width: 315px; }
  .second-list {
    width: 1615px; }
  .second-overflow {
    overflow: scroll;
    margin-left: 30px; }
  .third-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .subtitle {
    font-size: 38px; }
  .third-btn {
    margin-top: 30px; }
  .third-item {
    height: 250px; }
  .fourth-item {
    width: 50%;
    margin: 40px 0 0 0; }
  .fourth {
    padding-bottom: 0; }
  .fifth-list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
  .fifth-gallery {
    margin-top: 50px; }
  .sixth-btn {
    margin-top: 30px; }
  .sixth-slider-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  img.sixth-right-img {
    display: none; }
  img.sixth-right-img_mob {
    display: block;
    width: 100%;
    max-width: auto; }
  .sixth-right {
    width: 100%; }
  .sixth-left {
    padding: 50px 0 70px; }
  .sixth-btn {
    display: none; }
  .sixth-btn_mob {
    display: inline-block; }
  .seventh-social {
    margin-top: 30px; }
  .header-nav {
    position: fixed;
    left: 0;
    top: 110px;
    width: 100%;
    height: calc(100vh - 110px);
    background: #ffffff;
    padding: 0 30px 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-list {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-hide.hide {
    opacity: 1; }
  .header-list {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header-item {
    margin: 15px 0; }
  .header-phone {
    margin: 0 30px 0 0; }
  .header-nav-phones {
    padding: 30px 0; }
  .second-item:last-child {
    margin-right: 10px;
  }
  .header-nav-bottom {
    display: block;
  }
  .header-right-btn {
    display: inline-block;
    margin: 0; } }

@media only screen and (max-width: 767px) {
  .header {
    padding: 20px 0; }
  .first {
    margin-top: 90px;
    height: auto;
    padding: 65px 0 45px; }
  .first-text {
    padding: 25px 10px 20px 0; }
  .second-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header-relative_right {
    margin: 0 0 25px 0; }
  .second {
    padding: 35px 0 35px; }
  .second-right {
    margin-top: 25px; }
  .second-btn {
    width: 100%;
    margin-top: 15px; }
  .second-list {
    padding-top: 40px; }
  .subtitle {
    font-size: 36px;
    line-height: 1; }
  .third-btn {
    margin-top: 20px; }
  .third-item {
    width: 50%; }
  .third-item:nth-child(even) {
    background: #ffffff; }
  .third-item:nth-child(2), .third-item:nth-child(3), .third-item:nth-child(6), .third-item:nth-child(7), .third-item:nth-child(10) {
    background: #f9f9f9; }
  .fourth {
    padding: 25px 0 35px; }
  .fourth-item {
    width: 100%; }
  .fourth-item br {
    display: none; }
  .fourth-img {
    margin-top: 50px; }
  .fifth {
    padding: 0 0 35px; }
  .fifth-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none; }
  .fifth-item {
    margin: 0; }
  .fifth-item-text {
    padding: 10px 0; }
  .fifth-item-text:before {
    display: none; }
  .fifth-gallery {
    margin-top: 30px; }
  .fifth-gallery-item {
    width: 50%; }
  .sixth {
    padding: 20px 0 35px; }
  .sixth-content {
    margin-top: 35px; }
  .sixth-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 0 60px; }
  .sixth-left-first {
    width: 100%;
    height: auto; }
  .sixth-left-first .mCustomScrollBox {
    padding-bottom: 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1); }
  .sixth-left-second {
    width: 100%;
    height: auto; }
  .sixth-btn {
    margin-top: 40px; }
  .seventh-item {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .seventh-item_big {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    padding: 0 30px 40px 30px; }
  .seventh {
    padding: 20px 0 0; }
  .seventh-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .seventh-social-link {
    margin: 0 30px 0 0; }
  .map {
    height: 360px; }
  .footer-item {
    width: 100%;
    margin: 0 0 30px 0; }
  .footer-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .sixth-left-first {
    padding: 0 40px; }
  .footer-item-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-item-absolute {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 30px; }
  .footer-logo {
    margin-bottom: 20px; }
  .footer {
    padding: 55px 0 110px; }
  .footer-item-block {
    margin-top: -10px; }
  .header-nav {
    top: 90px;
    height: calc(100vh - 90px); }
  .header-nav-bottom .header-relative_right {
    margin-bottom: 0; } }

@media only screen and (max-width: 479px) {
  .container {
    padding: 0 20px; }
  .first-title {
    font-size: 48px; }
  .subtitle {
    font-size: 26px; }
  .third-item {
    padding: 20px; }
  .sixth-left-first {
    padding: 0 20px; }
  .sixth-left-second {
    padding: 0 20px; }
  .footer-logo {
    width: 140px; }
  .footer-item-absolute {
    padding: 0 20px; }
  .seventh-item_big {
    padding: 0 20px 30px; } }

@media only screen and (max-width: 360px) {
  .third-item {
    width: 100%; }
  .third-item:nth-child(even) {
    background: #f9f9f9; }
  .third-item:nth-child(odd) {
    background: #ffffff; }
  .header-phone {
    margin-right: 10px; }
  .second-overflow {
    margin-left: 20px;
  }
  .second-item {
    width: 315px;
  }
  .header-item {
    margin: 10px 0; } }